<footer>
	<div id="footer-inner">
		<div id="footer-left">
			<a id="footer-logo" href="/">
				<img src="../images/logo-white-circle.png">
				<span class="logo-text">Recipe Saver</span>
				<div class="tagline">Any recipe, anywhere</div>
			</a>

			<div id="footer-social">
				<div id="footer-social-heading">FOLLOW US</div>
				<div id="footer-social-icons">
					<a class="footer-social-icon" href="https://www.facebook.com/Recipe-Saver-1832559400339822" target="_blank">
						<img src="/images/blog/facebook.jpg">
						<span class="footer-social-label">Facebook</span>
					</a>
					<a class="footer-social-icon" href="https://twitter.com/recipesaver" target="_blank">
						<img src="/images/blog/twitter.jpg">
						<span class="footer-social-label">Twitter</span>
					</a>
				</div>
			</div>

		</div>
		<div id="footer-right">
			<div id="footer-right-cta-title">Finally, organize your recipes once and and for all!</div>
			<a id="footer-right-cta-button" href="/register">Sign Up Free</a>

			<div id="footer-links-section">
				<ul class="footer-links">
					<li><a href="/recipes">My Recipes</a></li>
					<li><a href="https://chrome.google.com/webstore/detail/recipe-saver/opemcijjekbnjccecheklfbflnkoacai" target="_blank">Chrome Extension</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
				<ul class="footer-links">
					<li id="support-footer"><a href="#">Support</a></li>
					<li><a href="/account">Account</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="copyright">
		<div id="copyright-inner">
			<div id="all-rights-reserved">Let Recipe Saver be your saviour</div>
			<div id="recipesaver">&copy; 2017 Recipe Saver</div>
		</div>
	</div>
</footer>

<!-- Facebook Like/Share Script -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '264292990672562',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>