<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- Navigation -->
<div id="top-bar">
	<ul id="nav">
		<li id="nav-logo"><a href="/">Recipe Saver</a></li>
		<li id="recipes"><a href="/recipes">My Recipes</a></li>
		<li id="chrome-extension"><a href="https://chrome.google.com/webstore/detail/recipe-saver/opemcijjekbnjccecheklfbflnkoacai" target="_blank">Chrome Extension</a></li>
<!-- 		<li id="blog"><a href="/blog">Blog</a></li>
		<li id="support"><a href="#">Support</a></li> -->

		<!-- Search Bar (only visible on homepage) -->
		<li id="search-row">
			<form id="search-form">
				<span id="search-icon"></span>
				<input type="text" placeholder="Search Recipes" id="search-form-input" autocomplete="off">
			</form>
			<div id="search-suggestions" class="box">
				<ul></ul>
			</div>
		</li>

		<li id="logout"><a href="/logout">Logout</a></li>
		<li id="account"><a href="/account">Account</a></li>
	</ul>
</div>

<!-- Support Form -->
<% include ./support-form %>
