<!DOCTYPE html>
<html>
<head>
	<title>Account | Recipe Saver</title>
	<script src="js/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet">
	<style>
		html, body {
			height: 100%;
		}
		body {
			font-family: 'Source Sans Pro', sans-serif;
			margin: 0;
			background: url(images/old-bg.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		textarea, input { outline: none; }
		a:hover {
			color: #0093ff;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		#top-bar {
			overflow: hidden;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
		}
		#nav {
			border-bottom: 1px solid #B9BCC0;
			height: 49px;
		}
		#nav li {
			line-height: 46px;
			display: inline-block;
			margin-left: 15px;
		}
		#nav li a {
			text-transform: uppercase;
			color: #898e95;
			text-decoration: none;
			font-size: 14px;
		}
		#nav li a:hover {
			color: #1AAFD0;
		}
		#logout, #account {
			float: right;
    	margin-right: 15px;
		}
		#nav li#logout {
			margin-left: 0;
			margin-right: 50px;
		}
		#nav li#recipes {
			margin-left: 50px;
		}
		#nav li.active-menu {
			border-bottom: solid 3px #23d82f;
		}
		#nav li.active-menu a {
			color: black;
		}
		#main {
			box-sizing: border-box;
			padding: 20px;
			background-color: white;
			width: 980px;
			height: 475px;
			margin: 15px auto 0 auto;
			border-radius: 3px;
	    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
	    position: relative;
	    margin-top: 50px;
		}
		#left-rail {
			border-right: solid 1px #dadada;
			width: 258px;
			height: calc(100% - 23px);
			margin-left: 20px;
			margin-top: 15px;
			float: left;
		}
		#account-image {
			display: block;
			float: left;
			margin-right: 15px;
		}
		#account-info {
			float: left;
		}
		#current-account-type {
			color: #1AAFD0;
		}
		#right-rail {
			float: left;
			padding-left: 50px;
			height: 100%;
			position: relative;
		}
		#right-rail h2 {
			margin-top: 11px;
		}
		.info-row {
			margin-bottom: 5px;
		}
		.info-row-left {
			width: 140px;
			display: inline-block;
		}
		#delete-row {
			font-size: 14px;
		}
		#delete-row a {
			color: #898e95;
		}
		#delete-row a:hover {
			color: black;
		}
	</style>
</head>
<body>
	<div id="top-bar">
		<ul id="nav">
			<li id="recipes"><a href="/recipes">My Recipes</a></li>
			<li><a href="#">Chrome Extension</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="#">About</a></li>
			<li id="support"><a href="#">Support</a></li>

			<li id="logout"><a href="#">Logout</a></li>
			<li id="account" class="active-menu"><a href="/account">Account</a></li>
		</ul>
	</div>
	<div id="main">
		<div id="left-rail">
			<img id="account-image" src="images/account-image.png">
			<div id="account-info">
				<div id="user-name">
					Bill Coloe
				</div>
				<div id="current-account-type">
					Micro Subscription
				</div>
				<div id="delete-row">
					<a href="#">Delete Account</a>
				</div>
			</div>
		</div>
		<div id="right-rail">
			<h2>Account Information</h2>
			<div class="info-row">
				<span class="info-row-left">Email Address:</span>
				<span class="info-row-right">wcoloe@gmail.com</span>
			</div>
			<div class="info-row">
				<span class="info-row-left">Member Since:</span>
				<span class="info-row-right">2/25/14</span>
			</div>
			<div class="info-row">
				<span class="info-row-left">Account Type:</span>
				<span class="info-row-right">Micro Subscription</span>
			</div>
		</div>

	</div>

	<script src="account.js"></script>
</body>
</html>