<!DOCTYPE html>
<html>
<head>
	<title>Recipe Saver | Account</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="/css/universal.css" rel="stylesheet">

	<style>
		html, body {
			height: 100%;
		}
		body {
			font-family: 'Source Sans Pro', sans-serif;
			margin: 0;
			background: url(images/old-bg.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		textarea, input { outline: none; }
		a:hover {
			color: #0093ff;
		}
		#main {
			overflow: auto;
			box-sizing: border-box;
			padding: 20px;
			background-color: white;
			width: 980px;
			min-height: 475px;
			margin: 15px auto 0 auto;
			border-radius: 3px;
	    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
	    position: relative;
	    margin-top: 50px;
		}
		#left-rail {
			border-right: solid 1px #dadada;
			width: 258px;
			height: calc(100% - 23px);
			margin-left: 20px;
			margin-top: 15px;
			float: left;
		}
		#account-image {
			display: block;
			float: left;
			margin-right: 15px;
		}
		#account-info {
			float: left;
		}
		#current-account-type {
			color: #1AAFD0;
		}
		#right-rail {
			float: left;
			padding-left: 50px;
			height: 100%;
			position: relative;
		}
		#right-rail h2 {
			margin-top: 11px;
		}
		.info-row {
			margin-bottom: 5px;
		}
		.info-row-left {
			width: 140px;
			display: inline-block;
		}
		#delete-row {
			font-size: 14px;
		}
		#delete-row a {
			color: #898e95;
		}
		#delete-row a:hover {
			color: black;
		}


	</style>
</head>
<body>

	<!-- Header -->
	<% include ./partials/header %>

	<div id="wrapper">
		<div id="main">
			<div id="left-rail">
				<img id="account-image" src="images/account-image.png">
				<div id="account-info">
					<div id="user-name">
						Bill Coloe
					</div>
					<div id="current-account-type">
						Micro Subscription
					</div>
					<div id="delete-row">
						<a href="#">Delete Account</a>
					</div>
				</div>
			</div>
			<div id="right-rail">
				<h2>Account Information</h2>
				<div class="info-row">
					<span class="info-row-left">Email Address:</span>
					<span class="info-row-right">wcoloe@gmail.com</span>
				</div>
				<div class="info-row">
					<span class="info-row-left">Member Since:</span>
					<span class="info-row-right">2/25/14</span>
				</div>
				<div class="info-row">
					<span class="info-row-left">Account Type:</span>
					<span class="info-row-right">Micro Subscription</span>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<% include ./partials/footer %>

	<script>
		// Mark active header menu
		document.getElementById('account').className = 'active-menu';
	</script>
</body>
</html>