<!DOCTYPE html>
<html>
<head>
	<title>Recipe Saver | Account</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="/css/universal.css" rel="stylesheet">

	<style>
		html, body {
			height: 100%;
		}
		body {
			font-family: 'Source Sans Pro', sans-serif;
			margin: 0;
			background: url(images/old-bg.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		textarea, input { outline: none; }
		a:hover {
			color: #0093ff;
		}
		#main {
			overflow: auto;
			box-sizing: border-box;
			padding: 20px;
			background-color: white;
			width: 980px;
			min-height: 475px;
			margin: 15px auto 0 auto;
			border-radius: 3px;
	    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
	    position: relative;
	    margin-top: 50px;
		}
		#delete-row {
			position: absolute;
			bottom: 20px;
			right: 20px;
			font-size: 16px;
		}
		#left-rail {
			width: 270px;
			height: calc(100% - 23px);
			margin-left: 20px;
			float: left;
		}
		#account-image {
			display: block;
			float: left;
			margin-right: 15px;
		}
		#account-info {
			float: left;
		}
		#user-name {
	    color: #066b9a;
	    font-weight: bold;
	    font-size: 19px;
	    margin-top: 20px;
		}
		#current-account-type {
			color: #1AAFD0;
		}
		#right-rail {
			float: left;
			padding-left: 50px;
			height: 100%;
			position: relative;
			width: 60%;
		}
		#right-rail h2 {
			margin-top: 11px;
			font-size: 30px;
			font-weight: normal;
			margin-bottom: 25px;
			color: #066b9a;
		}
		.info-row-title {
	    font-size: 21px;
	    padding-top: 10px;
	    border-top: solid 1px #dadada;
	    font-weight: 600;
	    margin-bottom: 10px;
		}
		.info-data {
			margin-bottom: 12px;
		}
		#member-since {
			visibility: hidden; /* Shown with jQuery to prevent flashing */
		}
		#delete-row a {
			font-size: 16px;
			color: #898e95;
		}
		#delete-row a:hover {
			color: black;
		}


	</style>
	<!-- Analytics -->
	<% include ./partials/analytics %>
</head>
<body>

	<!-- Header -->
	<% include ./partials/header %>

	<div id="wrapper">
		<div id="main">
			<div id="delete-row">
				<a href="#" id="delete-account">Delete Account</a>
			</div>
			<div id="left-rail">
				<img id="account-image" src="images/account-image.png">
				<div id="account-info">
					<div id="user-name">
						<%= accountInfo.name %>
					</div>
				</div>
			</div>
			<div id="right-rail">
				<h2>Account Information</h2>
				<div class="info-row-title">Account Type</div>
				<div class="info-data">
					<%= accountInfo.subscription %>
				</div>
				<div class="info-row-title">You Log-in Via</div>
				<div class="info-data">
					<% if (accountInfo.email) { %>
						Email (<%= accountInfo.email %>)
					<% } else if (accountInfo.twitterId) { %>
						Twitter Account
					<% } else if (accountInfo.facebookId) { %>
						Facebook Account
					<% } else if (accountInfo.googleId) { %>
						Google Account
					<% } %>
				</div>
				<div class="info-row-title">Member Since</div>
				<div class="info-data" id="member-since">
					<%= accountInfo.creationDate %>
				</div>

				<div class="info-row-title">Account Actions</div>
				<div class="info-data">
					<a href="#">Upgrade Account</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<% include ./partials/footer %>

	<script src="moment.js"></script>
	<script>
		// Mark active header menu
		document.getElementById('account').className = 'active-menu';

		// Convert creation date
		var $creationDateDiv = $('#member-since');
		var creationDate = $creationDateDiv.text().trim();
		$creationDateDiv.text(moment(new Date(creationDate).getTime()).format('M/D/YY'));
		$creationDateDiv.attr('style', 'visibility: visible;');

		// Delete account
		$('#delete-account').click(function(e) {
			e.preventDefault();
			$.ajax({
				type: 'POST',
			  url: '/delete-account',
			  contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			  data: { info: null},
			  success: function() {
			  	console.log('Account successfully deleted');
			  	window.location.href = '/';
			  },
			});
		});
	</script>
</body>
</html>