<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>Recipe Saver | Hold Please</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="/css/universal.css" rel="stylesheet">
	<style>
		html {
			height: 100%;
		}
	</style>

		<!-- Analytics -->
	<% include ./partials/analytics %>
</head>
<body class="reg-login">
	<div class="reg-login-wrapper">

		<div id="reg-login-logo">
			<a class="logo" href="/">
				<img src="/images/home-logo.png">
				<div class="reg-login-logo-text">Recipe Saver</div>
			</a>
		</div>

		<div class="reg-login-form">
			<div class="reg-login-form-header">
				<h1>Scheduled Maintenance</h1>
			</div>
			<div class="reg-login-form-body">
        <h3>Recipe Saver is currently being upgraded.</h3>
				<p>During this time the extension will be unavailable as well. We expect to be back in a couple hours. Thanks for your patience.</p>
			</div>


		</div>
	</div>
	
	<script src="/js/jquery.min.js"></script>
</body>
</html>


