<!DOCTYPE html>
<html>
<head>
	<title>Blog | Recipe Saver</title>
	<script src="js/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet">
	<style>
		html, body {
			height: 100%;
		}
		body {
			font-family: 'Source Sans Pro', sans-serif;
			margin: 0;
		}
		textarea, input { outline: none; }
		a:hover {
			color: #0093ff;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		#top-bar {
			overflow: hidden;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
		}
		#nav {
			border-bottom: 1px solid #B9BCC0;
			height: 49px;
		}
		#nav li {
			line-height: 46px;
			display: inline-block;
			margin-left: 15px;
		}
		#nav li a {
			text-transform: uppercase;
			color: #898e95;
			text-decoration: none;
			font-size: 14px;
		}
		#nav li a:hover {
			color: #1AAFD0;
		}
		#logout, #account {
			float: right;
    	margin-right: 15px;
		}
		#nav li#logout {
			margin-left: 0;
			margin-right: 50px;
		}
		#nav li#recipes {
			margin-left: 50px;
		}
		#nav li.active-menu {
			border-bottom: solid 3px #23d82f;
		}
		#nav li.active-menu a {
			color: black;
		}
		#main {
			box-sizing: border-box;
			background-color: white;
			width: 900px;
			margin: 15px auto 0 auto;
	    position: relative;
	    margin-top: 50px;
	    overflow: auto;
		}
		#left-rail {
			float: left;
			width: 575px;
		}
		.blog-post {
			overflow: auto;
			border-bottom: solid 1px #dadada;
			padding-bottom: 20px;
		}
		.blog-image {
			width: 575px;
			height: 252px;
		}
		.blog-title {
			margin: 18px 0;
		}
		.blog-title a {
			font-weight: bold;
			font-size: 28px;
			color: black;
			text-decoration: none;
		}
		.blog-title a:hover {
			color: #1aafd0;
		}
		.read-more {
			color: #1aafd0;
		}
		.read-more:hover {
			color: black;
		}
		.blog-summary {
			margin-bottom: 20px;
		}
		.author-icon {
			width: 50px;
			float: left;
			margin-right: 20px;
		}
		.author-date-text {
			float: left;
		}
		.author {
			color: #1aafd0;
		}
		.author, .date {
			display: block;
		}
		aside {
			box-sizing: border-box;
			width: 280px;
			background-color: rgba(226, 249, 228, 0.59);
			float: right;
			padding: 20px;
		}
		.section-title {
	    font-weight: bold;
	    font-size: 20px;
	    text-align: center;
	    border-bottom: solid 1px #dadada;
	    margin: 0 auto 16px auto;
	    padding-bottom: 8px;
		}
		#posts-list {
			margin-bottom: 50px;
		}
		#posts-list li a {
			color: black;
			font-size: 17px;
		}
		#posts-list li a:hover {
			color: #1AAFD0;
		}
		#categories-list li {
			display: inline-block;
		}
		#categories-list li a {
			display: inline-block;
			text-decoration: none;
	    background-color: #42c449;
	    padding: 5px 10px;
	    color: white;
		}
	</style>
</head>
<body>
	<div id="top-bar">
		<ul id="nav">
			<li id="recipes"><a href="/recipes">My Recipes</a></li>
			<li><a href="#">Chrome Extension</a></li>
			<li class="active-menu"><a href="/blog">Blog</a></li>
			<li><a href="#">About</a></li>
			<li id="feedback"><a href="#">Feedback</a></li>

			<li id="logout"><a href="#">Logout</a></li>
			<li id="account"><a href="/account">Account</a></li>
		</ul>
	</div>
	<section id="main">
		<div id="left-rail">
			<article class="blog-post">
				<a href="/blog/its-here-recipe-saver-2-debuts"><img class="blog-image" src="images/blog/recipe-saver-2-has-arrived.jpg"></a>
				<div class="blog-title">
					<a href="/blog/its-here-recipe-saver-2-debuts">It's Here! Recipe Saver 2.0 Debuts</a>
				</div>
				<div class="blog-summary">
					Dear Recipe Saver Friends, I'm extremely excited to introduce the latest version of Recipe Saver! It's been about 2 years since I first launched this website which at the time, was a simple side project that I created to make saving online recipes easier for myself. After offering it free to the public, I was blown away over how many people had signed up to use my silly little application to save their favorite recipes... <a class="read-more" href="/blog/its-here-recipe-saver-2-debuts">Read More</a>
				</div>
				<div class="author-date">
					<img class="author-icon" src="/images/blog/author-bill-coloe.jpg">
					<div class="author-date-text">
						<span class="author">Bill Coloe</span>
						<span class="date">2/25/17</span>
					</div>
				</div>
			</article>
		</div>
		<aside>
			<div class="section-title">
				Top Posts
			</div>
			<ul id="posts-list">
				<li><a href="/blog/its-here-recipe-saver-2-debuts">It's Here! Recipe Saver 2.0 Debuts</a></li>
			</ul>
			<div class="section-title">
				Featured Categories
			</div>
			<ul id="categories-list">
				<li><a href="/blog/announcements">announcements</a></li>
			</ul>
		</aside>


	</section>
</body>
</html>