<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Recipe Saver | Cookbook Review: Gordon Ramsay's Fast Food</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="/css/universal.css" rel="stylesheet">
	<link href="/css/blog.css" rel="stylesheet">

	<!-- Meta information -->
	<meta property="og:url" content="https://recipesaver.herokuapp.com/blog/cookbook-review-fast-fooduts">
	<meta property="og:type" content="article">
	<meta property="og:title" content="Cookbook Review: Gordon Ramsay's Fast Food">
	<meta property="og:description" content="Gordon Ramsay's Fast Food">
	<meta property="og:image" content="https://recipesaver.herokuapp.com/images/blog/fast-food-cover.jpg">
	<!-- Analytics -->
	<% include ./partials/analytics %>
</head>
<body>
	<!-- Header -->
	<% include ./partials/header %>

	<div id="wrapper">

		<article>
			<div id="article-top">
				<div id="article-top-inner">
					<div class="date">February 25, 2017</div>
					<h1 class="title">Cookbook Review: Gordon Ramsay's Fast Food</h1>
					<div id="categories-and-share">
<!-- 						<ul class="categories">
							<li class="static">categories</li>
							<li><a href="#">reviews</a></li>
							<li><a href="#">gordon ramsay</a></li>
						</ul> -->
						<ul class="share">
							<li class="static">share</li>
							<li id="facebook">
								<a id="facebook-link" href="#" target="_blank">
									<svg width="20" height="20" viewBox="0 0 32 32">
										<path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z "></path>
									</svg>
								</a>
							</li>
							<li id="twitter">
								<a id="twitter-link" href="" target="_blank">
									<svg width="20" height="20" viewBox="0 0 32 32">
										<path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4 "></path>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="article-main">
				<img class="image" src="/images/blog/fast-food-cover.jpg">
				<div id="article-main-inner">
					<div id="author-information">
						<img id="author-icon" src="/images/blog/author-bill-coloe.jpg">
						<div class="author-title-text">
							<span class="author">Bill Coloe</span>
							<span class="author-title">Founder</span>
						</div>
					</div>
					<div class="article-text">

						<p class="emphasize">Gordon Ramsay's Fast Food</p>

						<p class="two-line"><span class="blog-bold">Year released</span>: 2012</p>

						<p class="two-line"><span class="blog-bold">Number of recipes</span>: 125 (plus 7 condiment recipes)</p>

						<p class="two-line"><span class="blog-bold">Structure</span>: There are many short sections (36 of them to be exact), such as "5 Fast Salads," 5 Fast Side Dishes," "Country Cooking," or "Speedy Sunday Lunch." Each section has about 2 - 5 recipes each.</p>

						<p class="two-line double-break"><span class="blog-bold">Fun fact</span>: This was my first cookbook in which I cooked every recipe, cover to cover.</p>

						<p class="emphasize">Gordon's Ramsay's Fast Food's main selling point is that you can make over 100 "quick, healthy, delicious meals at home."</p>

						<p>That statement proved true, except for the "fast" part. While the structure and instructions of each recipe were refreshingly simple, the actual preparation and cooking time were not always speedy. Sometimes they'd get ya with sneaking in pre-prepared ingredients, completely failing to account for the time you would need to prepare each item. For example, one recipe lists "smoked haddock fillets" as an ingredient. Well that means you'll need to budget some time to fire up your smoker first before moving on to the core recipe.</p>

						<p>After a few discovering a pattern of this sort of thing, it became clear that "Fast Food" was not going to live up to its namesake. That said, you simply could not argue with the fruits of your labor - the meals were outstanding. This book is chok full of variety and so many great ideas that you'll find yourself surprised at your own ability to create gourmet-like meals with such basic ingredients. There are some fantastics soups, side dishes, desserts, beverages, appetizers, you name it. This is the kind of cookbook where you randomly open any page and odds are you'll find something amazing.</p>

						<p class="emphasize">Highlights were the No-Bake Berry Cheesecake, Pea & Mint Soup with Prosciutto and Turbot with Creamed Cabbage & Bacon.</p>

						<img class="flow-image" src="/images/blog/fast-food-back-cover.jpg">

						<p class="top-margin">As with most celebrity-chef cookbooks, it's unclear how much influence Gordon Ramsay had in this book. There are a handful of pictures of him preparing a few dishes but he's wearing the same shirt in most of the photos. So it's possible that he simply came in for the photoshoot for a few hours and called it a day. But if I had to guess, I do think there was a sizable fingerprint behind the scenes that made this a uniquely Ramsay production.</p>

						<p>Some recipes have a little quote or tip from Gordon at the top of the page. For example, he says on Fried Chorizo with Parsley "If you can, buy fresh chorizo from a good butcher or deli for this dish. Serve the fried chorizo as it is, or pile onto crusty bread slices and drizzle with the orange-colored oil from the pan." There is a section that lists the pantry essentials Gordon frequently keeps in his kitchen which were used heavily in many of the book's recipes (lots of bread, herbs, creme fraiche, mascarpone, pancetta).</p>

						<p>Ironically, you'd need to look elsewhere if you're looking to make lightning-fast foods. Most recipes (over 75% in my opinion) could not be considered quick to make and that's kind of ridiculous for a book titled "Fast Food." But if you look at this collection through the lense of a simple, everyday cookbook then you'll be delighted to see there are many great new recipes with wonderful gourmet spins on common dishes. Considering this book goes for less than $15, it's a tremendous value and it personally expanded my knowledge of flavors, ingredients, and even some international foods. After making a few dozen recipes and talking about the book to my girlfriend at the time, she snapped this picture of me praising how much I've enjoyed it:</p>

						<img class="flow-image" src="/images/blog/me-with-book.jpg">

						<p>Note my calendar says 2014 - it took me a while to go through the whole thing but it was worth it!</p>

					</div>
				</div>

				<div id="disqus">
					<div id="disqus_thread"></div>
					<script>
						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
						/*
						var disqus_config = function () {
						this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						*/
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = '//recipesaver.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
					</script>                      
				</div>
			</div>
		</article>

	</div>

	<!-- Footer -->
	<% include ./partials/footer %>

	<script>
		// Mark active header menu
		document.getElementById('blog').className = 'active-menu';

		// Make Facebook and Twitter buttons link to the correct page
		document.getElementById('facebook-link').addEventListener('click', function(e) {
			e.preventDefault();
			FB.ui({
			  method: 'share_open_graph',
			  action_type: 'og.likes',
			  action_properties: JSON.stringify({
				  object: 'https://recipesavertest.herokuapp.com' + window.location.pathname,
			  })
			}, function(response){});
		});

		document.getElementById('twitter-link').setAttribute('href', 'http://twitter.com/intent/tweet?status=' + encodeURIComponent(document.title) + '+' + window.location.href);
	</script>
</body>
</html>