<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>Recipe Saver | Login</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="/css/universal.css" rel="stylesheet">
	<style>
		html {
			height: 100%;
		}
	</style>

		<!-- Analytics -->
	<% include ./partials/analytics %>
</head>
<body class="reg-login">
	<div class="reg-login-wrapper">

		<div id="reg-login-logo">
			<a class="logo" href="/">
				<img src="/images/home-logo.png">
				<div class="reg-login-logo-text">Recipe Saver</div>
			</a>
		</div>

		<div class="reg-login-form">
			<div class="reg-login-form-header">
				<h1>Log In</h1>
			</div>
			<div class="reg-login-form-body">
				<% if (locals.message) { %>
					<div class="message">
						<%= message %>
					</div>
				<% } %>
				<h2>Log In With:</h2>
				<ul id="reg-options">
					<li id="twitter-reg"><a href="/login/twitter">Log-in with Twitter</a></li>
					<li id="facebook-reg"><a href="/login/facebook">Log-in with Facebook</a></li>
					<li id="gmail-reg"><a href="/login/google">Log-in with Google</a></li>
				</ul>


				<div id="reg-login-separator">
					<div id="reg-login-separator-or">or</div>
				</div>

				<div id="email-login">
					<div id="email-login-callout">
						<h2>Log In Via Email Account</h2>
					</div>

					<form id="login-form">
						<label>Email:</label>	
						<input type="email" name="email" id="emailLogin">
						<label>Password:</label>
						<input type="password" name="password" id="password">
						<input type="submit" value="Log In">
					</form>

					<div id="reg-login-error"></div>

					<a id="forgot-password" href="/account-recovery">Forgot Password?</a><div style="clear: both"></div>
				</div>
			</div>


		</div>

		<div class="reg-login-outer">
			<ul>
				<li class="first-link"><a href="/">Home</a></li>
				<li><a href="https://chrome.google.com/webstore/detail/recipe-saver/opemcijjekbnjccecheklfbflnkoacai" target="_blank">Chrome Extension</a></li>
				<li><a href="/blog">Blog</a></li>
				<li class="last-link"><a id="reg-login-support" href="#">Support</a></li>
			</ul>

			<div id="right-pull">
				<div id="right-pull-text">Need an account?</div>
				<a class="right-pull-cta" href="/register">Register</a>
			</div>
		</div>

	</div>
	
	<script src="/js/jquery.min.js"></script>
	<!-- Support Form -->
	<% include ./partials/support-form %>

	<script>
		$('#login-form').submit(function(e) {
			e.preventDefault();

			// Hide any lingering error message
			var $error = $('#reg-login-error');
			$error.html('').hide();

			var data = {
				reqType: 'login',
				email: $('#emailLogin').val().trim().toLowerCase(),
				password: $('#password').val(),
			};

			$.ajax({
				type: 'POST',
			  url: '/login',
			  contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			  data: data,
			  success: function(data) {
			  	console.log('logged in!');
			  	window.location.href = '/recipes';
			  },
			  error: function(jqXHR) {
			  	if (jqXHR.status === 401) {
			  		var errorMessage = 'Incorrect username and/or password';
			  		console.log(errorMessage);
			  		$error.html(errorMessage).show();
			  	} else if (jqXHR.status === 404) {
			  		var errorMessage = 'Oops! Something went terribly wrong - please email contact@recipesaver.net for help';
			  		console.log(errorMessage);
			  		$error.html(errorMessage).show();
			  	}
			  }
			});
		});
	</script>

</body>
</html>


