<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<title>Recipe Saver | Plan</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="/css/universal.css" rel="stylesheet">
	<style>
		html {
			height: 100%;
		}
		.reg-login-wrapper {
			width: 750px;
		}
	</style>

		<!-- Analytics -->
	<% include ./partials/analytics %>
</head>
<body class="reg-login">
	<div class="reg-login-wrapper">

		<div id="reg-login-logo">
			<a class="logo" href="/">
				<img src="/images/home-logo.png">
				<div class="reg-login-logo-text">Recipe Saver</div>
			</a>
		</div>

		<div class="reg-login-form">
			<div class="reg-login-form-header">
				<h1>Select Plan</h1>
			</div>
			<div class="reg-login-form-body">
				<h2>Get the most from Recipe Saver</h2>
				<h3>Select the option that fits you best.</h3>

				<div id="plans">
					<a href="/recipes" class="plan">
						<div class="plan-title">Basic Version</div>
						<img class="plan-image" src="/images/apple-free.png">
						<div class="plan-benefit">Save up 50 recipes</div>
						<div class="plan-price plan-blue">FREE</div>
						<div class="plan-continue">Continue</div>
					</a>
					<a href="#" id="full-version" class="plan">
						<div class="plan-title">Full Version</div>
						<img class="plan-image" src="/images/apple-paid.png">
						<div class="plan-benefit">Save <span class="plan-blue">unlimited</span> recipes</div>
						<div class="plan-price plan-blue">$4.99 <span class="plan-small">(one time charge)</span></div>
						<div class="plan-continue">Continue</div>
					</a>
				</div>
				<div class="sk-circle">
				  <div class="sk-circle1 sk-child"></div>
				  <div class="sk-circle2 sk-child"></div>
				  <div class="sk-circle3 sk-child"></div>
				  <div class="sk-circle4 sk-child"></div>
				  <div class="sk-circle5 sk-child"></div>
				  <div class="sk-circle6 sk-child"></div>
				  <div class="sk-circle7 sk-child"></div>
				  <div class="sk-circle8 sk-child"></div>
				  <div class="sk-circle9 sk-child"></div>
				  <div class="sk-circle10 sk-child"></div>
				  <div class="sk-circle11 sk-child"></div>
				  <div class="sk-circle12 sk-child"></div>
				</div>
				<div id="reg-login-error"></div>
			</div>
		</div>

		<div class="reg-login-outer">
			<ul>
				<li class="first-link"><a href="/">Home</a></li>
				<li><a href="#">Chrome Extension</a></li>
				<li><a href="/blog">Blog</a></li>
				<li class="last-link"><a id="reg-login-support" href="#">Support</a></li>
			</ul>

			<div id="right-pull">
				<div id="right-pull-text">Already have an account?</div>
				<a class="right-pull-cta" href="/login">Log In</a>
			</div>
		</div>

	</div>
	
	<script src="/js/jquery.min.js"></script>
	<!-- Support Form -->
	<% include ./partials/support-form %>

	<script src='https://checkout.stripe.com/checkout.js'></script>
	<script>
		var $loadingGif = $('.sk-circle');
		var $error = $('#reg-login-error');

		function errorMessage(msg) {
			console.log(msg);
			$error.html(msg).show();
		}


		var handler = StripeCheckout.configure({
			//key: 'pk_test_KmQZh5RXWtu0bnCzyOoFBn5A',
			key: 'pk_live_ladU88gOOTUS87vjvXepHlUY',
			image: 'images/stripe-logo.png',
			locale: 'auto',
			token: function(token) {
				$error.html('').hide();
				$loadingGif.show();

				$.ajax({
					url: '/charge',
					type: 'POST',
					data: {
						stripeToken: token.id,
						stripeEmail: token.email,
					},
					success: function() {
						console.log('Success!');
						window.location.href = '/recipes';
					},
					error: function(jqXHR) {
						if (jqXHR.status === 401) {
							errorMessage('Error - Account already is already subscribed to Full Plan');
						} else {
							errorMessage('Error');
						}
					},
					complete: function() {
						$loadingGif.hide();
					}
				});
			}
		});

		$('#full-version').click(function(e) {
			e.preventDefault();
			var email = sessionStorage.rs_email ? sessionStorage.rs_email : '';
			handler.open({
				name: 'Recipe Saver',
				email: email,
				description: 'Full Plan',
				amount: 499,
				allowRememberMe: false,
			});
			delete sessionStorage.rs_email;
		});
	</script>

</body>
</html>

