<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="js/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
	<style>
		html, body {
			height: 100%;
		}
		body {
			font-family: 'Montserrat', sans-serif;
			font-family: 'Source Sans Pro', sans-serif;
			margin: 0;
			background: url(images/main-bg.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		textarea, input { outline: none; }
		a:hover {
			color: #0093ff;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		#profile {
			height: calc(100% - 106px); /* height of the header */
			display: flex;
			flex-direction: row;
			box-sizing: border-box;
		}
		#list-panel, .detail-recipe {
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
			background-color: white;
			position: relative;
			margin-top: 15px;
		}
		#list-panel:before {
	    content: "";
	    display: inline-block;
	    min-width: 200px;
		}
		#list-panel {
			padding: 10px 25px;
			width: 40%;
			max-width: 400px;
			margin-left: auto;
			margin-right: 20px;
		}
		#list-panel-heading {
			margin: 0;
			font-size: 28px;
			margin-bottom: 20px;
		}
		.recipe-list-entry {
			clear: both;
			position: relative;
			overflow: auto;
			border-top: solid 1px #dadada;
			height: 30px;
			line-height: 30px;
			cursor: pointer;
		}
		.recipe-list-entry:hover {
			border-top: solid 1px #0093ff;
		}
		.recipe-list-entry:hover + .recipe-list-entry {
			border-top: solid 1px #0093ff;
		}
		.recipe-list-entry:hover a {
			color: #0093ff;
		}
		.recipe-list-entry-left {
			float: left;
		}
		.recipe-list-entry-date {
			float: right;
			position: absolute;
    	right: 0;
    	z-index: 1;
    	background-color: white;
    	padding-left: 3px;
    	color: #898e95;
    	font-size: 14px;
    	line-height: 30px;
		}
		.recipe-list-entry a {
			cursor: pointer;
		}
		.detail-recipe {
			width: 60%;
			max-width: 700px;
			margin-right: auto;
			padding: 10px;
		}
		#detail-name {
			margin-top: 20px;
			margin-bottom: 0;
		}
		#detail-link-container {
			margin-top: 20px;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		#detail-link-editable {
			border: solid 1px #dadada;
			height: 24px;
			padding-left: 8px;
			width: 100%;
			margin-right: 20px;
			box-sizing: border-box;
		}
		#detail-link {
			text-decoration: none;
			color: #1AAFD0;
			font-size: 14px;
		}
		#left-nav {
			border: solid 1px black;
			width: 225px;
			float: left;
			background-color: rgba(22, 22, 22, 0.9);;
			height: 100vh;
			box-sizing: border-box;
		}
		#logo img {
			width: 72%;
			display: block;
			margin: 10px 28px;
		}
		#add-recipe, #submit-recipe {
			width: 167px;
			text-align: center;
			border-radius: 4px;
			height: 32px;
			line-height: 32px;
			font-size: 18px;
			cursor: pointer;
	    background: #0079ff;
	    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#0096ff),to(#005dff));
	    background: -webkit-linear-gradient(0% 0%,0% 100%,from(#0096ff),to(#005dff));
	    background: -moz-linear-gradient(center top,#0096ff,#005dff);
	    background: linear-gradient(#0096ff,#005dff);
	    border-color: #0071e0;
	    color: #fff;
	    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
		}
		#add-recipe:hover, #submit-recipe:hover {
	    background: #016bdc;
	    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#008aea),to(#024dcf));
	    background: -webkit-linear-gradient(0% 0%,0% 100%,from(#008aea),to(#024dcf));
	    background: -moz-linear-gradient(center top,#008aea,#024dcf);
	    background: linear-gradient(#008aea,#024dcf);
	    border-color: #0055a7;
		}
		#add-recipe {
			margin: 75px auto 40px auto;
		}
		#submit-recipe {
			margin-top: 25px;
		}
		#menu {
			margin: 0;
			padding: 0;
		}
		#menu li {
			cursor: pointer;
			padding-left: 15px;
			color: white;
			height: 28px;
			line-height: 28px;
		}
		#menu li:hover {
			background-color: #008dff;
		}
		#top-bar {
			overflow: hidden;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
		}
		#detail-lower {
			padding: 0 20px;
		}
		#detail-ingredients {
			margin-top: 20px;
			padding-left: 0;
			border-bottom: solid 1px #dadada;
		}
		#detail-new-ingredient-input {
			display: none;
			height: 26px;
			line-height: 26px;
			font-size: 16px;
			box-sizing: border-box;
		}
		.ingredient {
			margin-bottom: 4px;
		}
		#detail-description {
	    box-sizing: border-box;
	    padding-left: 3px;
	    padding-right: 2px;
			margin-top: 30px;
			min-height: 150px;
			border: solid 1px #dadada;
		}
		#detail-tags {
			display: flex;
			border-bottom: solid 1px #dadada;
			padding-bottom: 8px;
			position: relative;
		}
		#detail-tag-list {
			padding: 0;
			margin: 0;
			margin-right: 3px;
			padding-top: 4px;
			width: 100%;
		}
		#detail-tag-list.editable {
			border: solid 1px gray;
		}
		#detail-tag-icon {
			display: inline-block;
			margin-right: 3px;
		}
		#detail-tag-icon img {
			margin-top: 10px;
		}
		.tag {
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 6px 0px 9px;
	    font-size: 12px;
	    margin-right: 5px;
	    max-width: 120px;
	    color: white;
	    background-color: #AA62E3;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: inline-block;
	    font-weight: 300;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    border-radius: 15px;
		}
		.tag-name {
			float: left;
		}
		.tag-close {
			background-image: url(/images/x.png);
			background-repeat: no-repeat;
			background-position: center right 2px;
			background-size: 8px 8px;
			width: 12px;
			height: 12px;
			float: right;
			margin-top: 7px;
			margin-left: 3px;
		}
		.tag-close:hover {
			background-image: url(/images/x-hover.png);
			background-size: 12px 12px;
			background-position: center right 0px;
		}
		.tag-color-picker {
	    background-image: url(/images/color-picker.png);
	    background-repeat: no-repeat;
	    background-position: center right 2px;
	    background-size: 12px 12px;
	    width: 18px;
	    height: 12px;
	    float: right;
	    margin-top: 7px;
	    margin-left: 3px;
		}
		.tag-color-picker:hover {
	    background-image: url(/images/color-picker-hover.png);
		}
		#detail-add-tag-button {
			margin-right: 8px;
			margin-top: 7px;
			cursor: pointer;
			width: 25px;
			height: 22px;
			background: url(images/tag-sprite.png) 0 0;
			background-repeat: no-repeat;
			padding-right: 5px;
		}
		#detail-add-tag-button:hover {
			background: url(images/tag-sprite.png) 0 -22px;
			background-repeat: no-repeat;
		}
		#detail-add-tag-button img {
			width: 21px;
		}
		#detail-options {
			background: url(images/plus-sprite.jpg) 0 -24px;
			background-repeat: no-repeat;
			width: 27px;
			height: 24px;
			cursor: pointer;
		}
		#detail-options:hover {
			background: url(images/plus-sprite.jpg) 0 0px;
			background-repeat: no-repeat;
		}
		#detail-options.active {
			background: url(images/plus-sprite.jpg) 0 0px;
			background-repeat: no-repeat;
		}
		.add-recipe #detail-options {
			display: none;
		}
		#detail-new-tag-input {
			display: none;
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 9px;
	    font-size: 12px;
	    box-sizing: border-box;
	    font-weight: 300;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
		}
		.tag-category {
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 9px 0px 9px;
	    font-size: 12px;
	    margin-bottom: 10px;
	    color: white;
	    background-color: #AA62E3;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: inline-block;
	    font-weight: 300;
	    overflow: hidden;
	    white-space: nowrap;
	    border-radius: 15px;
		}
		.tag-list-name, .tag-color-selection {
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 9px 0px 9px;
	    font-size: 12px;
	    margin-bottom: 10px;
	    color: white;
	    background-color: #AA62E3;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: table;
	    font-weight: 300;
	    overflow: hidden;
	    white-space: nowrap;
	    border-radius: 15px;
		}
		#tag-colors {
			display: none;
			width: 325px;
			margin: 0;
	    padding: 15px;
		}
		.tag-colors-title {
			font-weight: bold;
			margin-bottom: 15px;
		}
		#tag-colors .tag-color-selection {
			display: inline-block;
			margin-right: 4px;
		}
		[contenteditable=true]:empty:before{
		  content: attr(placeholder);
		  display: block; /* For Firefox */
		  cursor: text;
		  color: darkgrey;
		  padding-left: 3px;
		}
		#list-panel.singular {
			max-width: 900px;
			width: 75%;
			margin: 15px auto 0 auto;
		}
		#list-panel.singular + .detail-recipe {
			display: none;
		}
		.detail-recipe.singular {
			max-width: 900px;
			width: 100%;
			margin: 15px auto 0 auto;
		}
		#submit-recipe {
			display: none;
		}
		.add-recipe #submit-recipe {
			display: block;
		}
		#detail-options-dropdown {
			position: absolute;
			display: none;
			right: 10px;
			width: 125px;
			top: 25px;
		}
		#detail-options-dropdown li#spacer {
			border-bottom: solid 1px #dadada;
			height: 5px;
		}
		#detail-options-dropdown li#spacer:hover {
			background-color: white;
		}
		#delete-recipe {
			margin-top: 9px;
		}
		#detail-message-overlay {
			display: none;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			left: 0;
			background-color: rgba(0, 0, 0, 0.84);
		}
		#detail-message-overlay-inner {
    	position: absolute;
	    top: 20%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    color: white;
	    font-size: 20px;
		}
		#nav {
			border-bottom: 1px solid #B9BCC0;
			height: 50px;
		}
		#nav li {
			line-height: 50px;
			display: inline-block;
			margin-left: 15px;
		}
		#nav li a {
			text-transform: uppercase;
			color: #898e95;
			text-decoration: none;
			font-size: 14px;
		}
		#nav li a:hover {
			color: #1AAFD0;
		}
		#logout, #feedback {
			float: right;
    	margin-right: 15px;
		}
		#nav li#logout {
			margin-left: 0;
		}
		#search-row {
			height: 44px;
			position: relative;
		}
		#search-form {
			margin-top: 11px;
			text-align: center;
		}
		#search-form-input {
			width: 350px;
			border: solid 1px #1aafd2;
	    border-radius: 20px;
	    height: 30px;
	    padding-left: 10px;
		}
		#search-form-input:focus {
			border: solid 1px #43c84a;
		}
		#search-suggestions {
			display: none;
	    width: 350px;
	    margin: 0 auto;
	    position: absolute;
	    background-color: white;
	    z-index: 5;
	    left: 225px; /* this is the width of the left nav bar */
	    right: 0;
	    top: 97px;
		}
		.suggestion {
			cursor: pointer;
			padding-left: 8px;
		}
		.sug-bold {
			font-weight: bold;
		}



		.box {
			background-color: white;
    	padding: 10px 0;
    	border-radius: 3px 3px 3px 3px;
	    border: 1px solid #B9BCC0;
	    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
		}
		.box li:not(.tag-color-selection)  {
			padding: 3px 15px;
			cursor: pointer;
		}
		.box li:hover  {
			background-color: #008dff;
    	color: white;
		}
		@media screen and (max-width: 1464px) {
	    #list-panel {
	    	margin-left: 20px;
	    }
	    .detail-recipe {
	    	margin-right: 20px;
	    }
		}
 	</style>
</head>
<body>

	<div id="left-nav">
		<div id="logo"><img src="images/logo-small.png"></div>

		<div id="add-recipe">Add New Recipe</div>

		<ul id="menu">
			<li id='get-all-recipes'>All Recipes</li>
			<li id="get-recipes-by-tags">Tags</li>
			<li>Most Recent</li>
			<li>Favorites</li>
			<li>Uncategorized</li>
		</ul>
	</div>

	<div id="top-bar">

		<ul id="nav">
			<li><a href="#">My Recipes</a></li>
			<li><a href="#">Account</a></li>
			<li><a href="#">Chrome Extension</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">About</a></li>
			<li id="logout"><a href="#">Logout</a></li>
			<li id="feedback"><a href="#">Feedback</a></li>
		</ul>

		<div id="search-row">
			<form id="search-form">
				<input type="text" placeholder="Search Recipes" id="search-form-input" autocomplete="off">
			</form>
		</div>
		<div id="search-suggestions" class="box">
			<ul>
			</ul>
		</div>


	</div>

	<div id="profile">




		<!-- List Panel -->
		<div id="list-panel" class="singular">

			<h1 id="list-panel-heading">All Recipes</h1>

			<div id="list-panel-inner">
				<ul class="recipe-list">
					<% for (var i = 0; i < recipes.length; i++) { %>
						<li class="recipe-list-entry" data-id="<%= recipes[i].id %>">
							<span class="recipe-list-entry-left">
								<a><%= recipes[i].name %></a>
							</span>
							<span class="recipe-list-entry-date">
								<a><%= recipes[i].date %></a>
							</span>
						</li>
					<% } %>
				</ul>
			</div>
			
		</div>

		<!-- Recipe Detail Panel -->
		<div class="detail-recipe">

			<!-- Recipe Tags -->
			<div id="detail-tags">
				<!-- Tag Icon -->
				<div id="detail-add-tag-button"></div>
				<!-- Tag List -->
				<ul id="detail-tag-list">

					<!-- Recipe Tags will be prepended here -->

					<!-- New Tag Input -->
					<li id="detail-new-tag-input" contenteditable="true"></li>
				</ul>
				<div id="detail-options"></div>
				<ul id="detail-options-dropdown" class="box">
					<li>Favorite</li>
					<li id="edit-url">Edit URL</li>
					<li id="spacer"></li>
					<li id="delete-recipe">Delete Recipe</li>
				</ul>
			</div>

			<div id="detail-lower">
				<div id="detail-link-container">
					<a id="detail-link" href="#" target="_blank">{{ test }}</a>
					<input type="test" id="detail-link-editable" placeholder="URL">
				</div>

				<!-- Recipe Name -->
				<h2 id="detail-name" contenteditable="true" placeholder="Recipe Name">{{ recipeName }}</h2>

				<!-- Recipe Ingredients -->
				<ul id="detail-ingredients">

					<!-- Recipe Ingredients will be prepended here -->

					<!-- New Ingredient Input -->
					<li id="detail-new-ingredient-input" contenteditable="true" placeholder="Ingredients (Press Enter to add more)"></li>
				</ul>

				<!-- Recipe Description -->
				<div contenteditable="true" id="detail-description" placeholder="Recipe details">
					{{ recipeMore }}
				</div>

				<!-- Recipe ID -->
				<p id="detail-id" style="color: blue">{{ recipeID }}</p>

				<!-- Recipe Submit Button -->
				<div id="submit-recipe">Submit</div>
			</div>
		</div>
	</div>



	<ul id="tag-colors" class="box">
		<li class="tag-colors-title">Choose Tag Color</li>
		<li class="tag-color-selection" data-color="#ff0000" style="background-color: #ff0000;">red</li>
		<li class="tag-color-selection" data-color="#9e5f01" style="background-color: #9e5f01;">brown</li>
		<li class="tag-color-selection" data-color="#ffa500" style="background-color: #ffa500;">orange</li>
		<li class="tag-color-selection" data-color="#dec688" style="background-color: #dec688;">gold</li>
		<li class="tag-color-selection" data-color="#22da00" style="background-color: #22da00;">green</li>
		<li class="tag-color-selection" data-color="#079212" style="background-color: #079212;">forest</li>
		<li class="tag-color-selection" data-color="#6d0873" style="background-color: #6d0873;">eggplant</li>
		<li class="tag-color-selection" data-color="#9522ff" style="background-color: #9522ff;">purple</li>
		<li class="tag-color-selection" data-color="#ff05d6" style="background-color: #ff05d6;">pink</li>
		<li class="tag-color-selection" data-color="#00c5ff" style="background-color: #00c5ff;">ocean</li>
		<li class="tag-color-selection" data-color="#2c77ff" style="background-color: #2c77ff;">blue</li>
		<li class="tag-color-selection" data-color="#000000" style="background-color: #000000;">black</li>
	</ul>
	<script src="app.js"></script>
	<script>
		// Save global reference to recipes so we can find retrieve them wit search
		window.recipes = <%- JSON.stringify(recipes) %>;
	</script>
</body>
</html>

