<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="js/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
	<style>
		body {
			font-family: 'Montserrat', sans-serif;
			font-family: 'Source Sans Pro', sans-serif;
			margin: 0;
			background: url(images/main-bg.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		a:hover {
			color: #0093ff;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		#profile {
			display: flex;
			flex-direction: row;
			box-sizing: border-box;
		}
		#list-panel, .detail-recipe {
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
			background-color: white;
			height: 100vh;
			margin-top: 15px;
		}
		#list-panel:before {
	    content: "";
	    display: inline-block;
	    min-width: 200px;
		}
		#list-panel {
			padding: 10px 25px;
			width: 40%;
			max-width: 400px;
			margin-left: auto;
			margin-right: 20px;
		}
		#list-panel-heading {
			margin: 0;
			font-size: 28px;
		}
		.recipe-list {
		}
		.recipe-list-entry a {
			cursor: pointer;
		}
		.detail-recipe {
			width: 60%;
			max-width: 700px;
			margin-right: auto;
			padding: 10px;
		}
		#detail-name {
			margin: 10px 0;
		}
		#detail-link-container {
			margin-top: 6px;
		}
		#detail-link-editable {
			border: solid 1px black;
			height: 24px;
			padding-left: 8px;
			width: 100%;
			margin-right: 20px;
			box-sizing: border-box;
		}
		#detail-link {
			text-decoration: none;
			color: #898E95;
			font-size: 14px;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		#left-nav {
			border: solid 1px black;
			width: 225px;
			float: left;
			background-color: rgba(22, 22, 22, 0.9);;
			height: 100vh;
		}
		#logo img {
			width: 83%;
			display: block;
			margin: 20px auto;
		}
		#add-recipe {
			margin: 0 auto;
			margin-top: 75px;
			margin-bottom: 40px;
			width: 167px;
			text-align: center;
			border-radius: 4px;
			height: 32px;
			line-height: 32px;
			font-size: 18px;
			cursor: pointer;
	    background: #0079ff;
	    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#0096ff),to(#005dff));
	    background: -webkit-linear-gradient(0% 0%,0% 100%,from(#0096ff),to(#005dff));
	    background: -moz-linear-gradient(center top,#0096ff,#005dff);
	    background: linear-gradient(#0096ff,#005dff);
	    border-color: #0071e0;
	    color: #fff;
	    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
		}
		#add-recipe:hover {
	    background: #016bdc;
	    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#008aea),to(#024dcf));
	    background: -webkit-linear-gradient(0% 0%,0% 100%,from(#008aea),to(#024dcf));
	    background: -moz-linear-gradient(center top,#008aea,#024dcf);
	    background: linear-gradient(#008aea,#024dcf);
	    border-color: #0055a7;
		}
		#menu {
			margin: 0;
			padding: 0;
		}
		#menu li {
			cursor: pointer;
			padding-left: 15px;
			color: white;
			height: 28px;
			line-height: 28px;
		}
		#menu li:hover {
			background-color: #008dff;
		}
		#top-bar {
			overflow: hidden;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
		}
		#detail-lower {
			padding: 0 20px;
		}
		#detail-ingredients {
			margin-bottom: 20px;
			padding-left: 0;
			border-bottom: solid 1px #dadada;
		}
		#detail-new-ingredient-input {
			display: none;
			height: 26px;
			line-height: 26px;
			font-size: 16px;
			box-sizing: border-box;
		}
		.ingredient {
			margin-bottom: 4px;
		}
		#detail-description {
	    box-sizing: border-box;
	    padding-left: 8px;
	    padding-right: 2px;
			margin-top: 20px;
			min-height: 150px;
			border: solid 1px gray;
		}
		#detail-tags {
			display: flex;
			border-bottom: solid 1px #dadada;
			padding-bottom: 8px;
			position: relative;
		}
		#detail-tag-list {
			padding: 0;
			margin: 0;
			margin-right: 3px;
			padding-top: 4px;
			width: 100%;
		}
		#detail-tag-list.editable {
			border: solid 1px gray;
		}
		#detail-tag-icon {
			display: inline-block;
			margin-right: 3px;
		}
		#detail-tag-icon img {
			margin-top: 10px;
		}
		.tag {
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 6px 0px 9px;
	    font-size: 12px;
	    margin-right: 5px;
	    max-width: 120px;
	    color: white;
	    background-color: #AA62E3;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: inline-block;
	    font-weight: 300;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    border-radius: 15px;
		}
		.tag-name {
			float: left;
		}
		.tag-close {
			background-image: url(/images/x.png);
			background-repeat: no-repeat;
			background-position: center right 2px;
			background-size: 8px 8px;
			width: 12px;
			height: 12px;
			float: right;
			margin-top: 7px;
			margin-left: 3px;
		}
		.tag-close:hover {
			background-image: url(/images/x-hover.png);
			background-size: 12px 12px;
			background-position: center right 0px;
		}
		.tag-color-picker {
	    background-image: url(/images/color-picker.png);
	    background-repeat: no-repeat;
	    background-position: center right 2px;
	    background-size: 12px 12px;
	    width: 18px;
	    height: 12px;
	    float: right;
	    margin-top: 7px;
	    margin-left: 3px;
		}
		.tag-color-picker:hover {
	    background-image: url(/images/color-picker-hover.png);
		}
		#detail-add-tag-button {
			margin-right: 8px;
			margin-top: 7px;
			cursor: pointer;
			width: 25px;
			height: 22px;
			background: url(images/tag-sprite.png) 0 0;
			background-repeat: no-repeat;
			padding-right: 5px;
		}
		#detail-add-tag-button:hover {
			background: url(images/tag-sprite.png) 0 -22px;
			background-repeat: no-repeat;
		}
		#detail-add-tag-button img {
			width: 21px;
		}
		#detail-options {
			background: url(images/plus-sprite.jpg) 0 -24px;
			background-repeat: no-repeat;
			width: 27px;
			height: 24px;
			cursor: pointer;
		}
		#detail-options:hover {
			background: url(images/plus-sprite.jpg) 0 0px;
			background-repeat: no-repeat;
		}
		#detail-options.active {
			background: url(images/plus-sprite.jpg) 0 0px;
			background-repeat: no-repeat;
		}
		#detail-new-tag-input {
			display: none;
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 9px;
	    font-size: 12px;
	    box-sizing: border-box;
	    font-weight: 300;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
		}
		.tag-category {
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 9px 0px 9px;
	    font-size: 12px;
	    margin-bottom: 10px;
	    color: white;
	    background-color: #AA62E3;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: inline-block;
	    font-weight: 300;
	    overflow: hidden;
	    white-space: nowrap;
	    border-radius: 15px;
		}
		.tag-list-name, .tag-color-selection {
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 9px 0px 9px;
	    font-size: 12px;
	    margin-bottom: 10px;
	    color: white;
	    background-color: #AA62E3;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: table;
	    font-weight: 300;
	    overflow: hidden;
	    white-space: nowrap;
	    border-radius: 15px;
		}
		#tag-colors {
			border: solid 1px blue;
			background-color: white;
			width: 400px;
			margin: 0;
			padding: 20px;
		}
		[contenteditable=true]:empty:before{
		  content: attr(placeholder);
		  display: block; /* For Firefox */
		  cursor: text;
		  color: red;
		}
/*		#list-panel.singular {
			max-width: 900px;
			width: 100%;
			margin: 0 auto;
		}
		#list-panel.singular + .detail-recipe {
			display: none;
		}*/
		.detail-recipe.singular {
			max-width: 900px;
			width: 100%;
			margin: 0 auto;
		}
		#submit-recipe {
			display: none;
		}
		.add-recipe #submit-recipe {
			display: block;
		}
		#detail-options-dropdown {
			position: absolute;
			display: none;
			right: 10px;
			width: 125px;
			top: 25px;
			background-color: white;
    	padding: 10px 0;
    	border-radius: 3px 3px 3px 3px;
	    border: 1px solid #B9BCC0;
	    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
		}
		#detail-options-dropdown li {
			padding: 3px 15px;
			cursor: pointer;
		}
		#detail-options-dropdown li:hover {
			background-color: #008dff;
			color: white;
		}
		#detail-options-dropdown li#spacer {
			border-bottom: solid 1px #dadada;
			height: 5px;
		}
		#detail-options-dropdown li#spacer:hover {
			background-color: white;
		}
		#delete-recipe {
			margin-top: 9px;
		}
		@media screen and (max-width: 1464px) {
	    #list-panel {
	    	margin-left: 20px;
	    }
	    .detail-recipe {
	    	margin-right: 20px;
	    }
		}
 	</style>
</head>
<body>

	<div id="left-nav">
		<div id="logo"><img src="images/logo-small.png"></div>

		<div id="add-recipe">Add New Recipe</div>

		<ul id="menu">
			<li id='get-all-recipes'>All Recipes</li>
			<li id="get-recipes-by-tags">Tags</li>
			<li>Most Recent</li>
			<li>Favorites</li>
			<li>Uncategorized</li>
		</ul>
	</div>

	<div id="top-bar">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Feedback</a></li>
			<li><a href="#">Account</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</div>

	<div id="profile">




		<!-- List Panel -->
		<div id="list-panel">

		<h1 id="list-panel-heading">All Recipes</h1>

			<ul class="recipe-list">
				<% for (var i = 0; i < recipes.length; i++) { %>
					<li class="recipe-list-entry" data-id="<%= recipes[i].id %>"><a><%= recipes[i].name %></a></li>
				<% } %>
			</ul>
		</div>

		<!-- Recipe Detail Panel -->
		<div class="detail-recipe">

		<!-- Recipe Tags -->
			<div id="detail-tags">
				<!-- Tag Icon -->
				<div id="detail-add-tag-button"></div>
				<!-- Tag List -->
				<ul id="detail-tag-list">

					<!-- Recipe Tags will be prepended here -->

					<!-- New Tag Input -->
					<li id="detail-new-tag-input" contenteditable="true"></li>
				</ul>
				<div id="detail-options"></div>
				<ul id="detail-options-dropdown">
					<li>Favorite</li>
					<li>Edit URL</li>
					<li id="spacer"></li>
					<li id="delete-recipe">Delete Recipe</li>
				</ul>
			</div>

			<div id="detail-lower">
				<div id="detail-link-container">
					<a id="detail-link" href="#" target="_blank">{{ test }}</a>
					<input type="test" id="detail-link-editable" placeholder="URL">
				</div>

				<!-- Recipe Name -->
				<h2 id="detail-name" contenteditable="true" placeholder="Recipe Name">{{ recipeName }}</h2>

				<!-- Recipe Ingredients -->
				<ul id="detail-ingredients">

					<!-- Recipe Ingredients will be prepended here -->

					<!-- New Ingredient Input -->
					<li id="detail-new-ingredient-input" contenteditable="true" placeholder="Ingredients (Press Enter to add more)"></li>
				</ul>

				<!-- Recipe Description -->
				<div contenteditable="true" id="detail-description" placeholder="Recipe details">
					{{ recipeMore }}
				</div>

				<!-- Recipe ID -->
				<p id="detail-id" style="color: blue">{{ recipeID }}</p>

				<!-- Recipe Submit Button -->
				<button id="submit-recipe">Submit</button>
			</div>


		</div>
	</div>



	<ul id="tag-colors">
		<li class="tag-colors-title">Choose Tag Color</li>
		<li class="tag-color-selection" data-color="#ff0000" style="background-color: #ff0000;">red</li>
		<li class="tag-color-selection" data-color="#9e5f01" style="background-color: #9e5f01;">brown</li>
		<li class="tag-color-selection" data-color="#ffa500" style="background-color: #ffa500;">orange</li>
		<li class="tag-color-selection" data-color="#dec688" style="background-color: #dec688;">gold</li>
		<li class="tag-color-selection" data-color="#22da00" style="background-color: #22da00;">green</li>
		<li class="tag-color-selection" data-color="#079212" style="background-color: #079212;">forest</li>
		<li class="tag-color-selection" data-color="#9522ff" style="background-color: #9522ff;">purple</li>
		<li class="tag-color-selection" data-color="#ff05d6" style="background-color: #ff05d6;">pink</li>
		<li class="tag-color-selection" data-color="#00c5ff" style="background-color: #00c5ff;">ocean</li>
		<li class="tag-color-selection" data-color="#2c77ff" style="background-color: #2c77ff;">blue</li>
		<li class="tag-color-selection" data-color="#000000" style="background-color: #000000;">black</li>
	</ul>
	<script src="app.js"></script>
</body>
</html>

