<!DOCTYPE html>
<html>
<head>
	<title>Recipe Saver | My Recipes</title>

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet">
	<link href="/css/universal.css" rel="stylesheet">
	<link href="/css/print.css" rel="stylesheet">
	<style>
		html, body {
			height: 100%;
		}
		body {
			font-family: 'Montserrat', sans-serif;
			font-family: 'Source Sans Pro', sans-serif;
			margin: 0;
			background: url(images/main-bg.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		textarea, input { outline: none; }
		a:hover {
			color: #0093ff;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		#logo {
			margin-top: 11px;
			overflow: auto;
		}
		#logo img {
			margin-left: 10px;
			display: block;
			float: left;
		}
		#logo-text {
			float: left;
			margin-top: 6px;
			color: white;
			font-family: 'Cabin', sans-serif;
			margin-left: 8px;
			font-size: 25px;
			letter-spacing: 1px;
			display: inline-block;
		}
		#profile {
			height: calc(100% - 50px); /* height of the header */
			display: flex;
			flex-direction: row;
			box-sizing: border-box;
		}
		#list-panel, .detail-recipe {
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
			background-color: white;
			position: relative;
			margin-top: 15px;
			overflow-y: auto;
		}
/*		#list-panel:before {
	    content: "";
	    display: inline-block;
	    min-width: 200px;
		}*/
		#list-panel {
			padding: 25px;
			width: 40%;
			max-width: 400px;
			margin-left: auto;
			margin-right: 20px;
		}
		#list-panel-heading {
			margin: 0;
			font-size: 24px;
			margin-bottom: 20px;
			display: inline-block;
			float: left;
		}
		#nav li#search-row {
			display: inline-block;
		}
		#sort {
			margin-top: 10px;
			display: inline-block;
			float: right;
	    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
	    background-position: bottom;
	    background-size: 3px 1px;
	    background-repeat: repeat-x;
			cursor: pointer;
		}
		#sort-selection {
			color: #1AAFD0;
		}
		#sort img {
			margin-bottom: 1px;
		}
		#sort-options {
			display: none;
			z-index: 2;
			position: absolute;
	    right: 24px;
	    top: 65px;
		}
		#sort-color {
			display: none;
		}
		.all-tags #sort-newest, .all-tags #sort-oldest {
			display: none;
		}
		.all-tags #sort-color {
			display: list-item;
		}
		.recipe-list-entry {
			clear: both;
			position: relative;
			overflow: auto;
			border-top: solid 1px #dadada;
			height: 30px;
			line-height: 30px;
			cursor: pointer;
			overflow-y: hidden;
		}
		.recipe-list-entry:hover {
			border-top: solid 1px #0093ff;
		}
		.recipe-list-entry:hover + .recipe-list-entry {
			border-top: solid 1px #0093ff;
		}
		.recipe-list-entry:hover a {
			color: #0093ff;
		}
		.recipe-list-entry-left {
			float: left;
		}
		.recipe-list-entry-date {
			float: right;
			position: absolute;
    	right: 0;
    	z-index: 1;
    	padding-left: 3px;
    	color: #898e95;
    	font-size: 14px;
    	line-height: 30px;
    	background-color: white;
	    padding-left: 46px;
		  background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0.3));
		  background: -o-linear-gradient(-90deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0.3));
		  background: -moz-linear-gradient(-90deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0.3));
	    background: linear-gradient(-90deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0.3));
		}
		.recipe-list-entry a {
			cursor: pointer;
		}
		.detail-recipe {
			width: 40%;
			max-width: 700px;
			min-width: 305px;
			margin-right: auto;
			padding: 10px;
		}
		.edit-recipe .detail-recipe {
			border: solid 2px #089de3;
		}
		#detail-name {
			margin-top: 10px;
			margin-bottom: 0;
		}
		#detail-link-container {
			display: none;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-top: 20px;
		}
		#detail-link-editable {
			border: solid 1px #dadada;
			height: 24px;
			padding-left: 8px;
			width: 100%;
			margin-right: 20px;
			box-sizing: border-box;
			font-size: 11px;
		}
		#detail-link {
			text-decoration: none;
			color: #1AAFD0;
			font-size: 14px;
		}
		#left-nav {
			border: solid 1px black;
			width: 225px;
			float: left;
			background-color: rgba(22, 22, 22, 0.95);;
			height: 100vh;
			box-sizing: border-box;
		}
		#add-recipe {
			margin: 60px auto 60px auto;
		}
		#save-recipe, #cancel-recipe, #undo-recipe {
			display: none;
			margin-top: 25px;
			width: 35%;
		}
		#save-recipe {
			float: left;
		}
		#cancel-recipe, #undo-recipe {
			background-color: #bbbbbb;
			float: right;
		}
		#cancel-recipe:hover, #undo-recipe:hover {
			background-color: #23d82f;
		}
		.edit-recipe #undo-recipe {
			display: block;
			overflow: hidden;
		}
		#menu {
			margin: 0;
			padding: 0;
		}
		#menu li {
			cursor: pointer;
			padding-left: 28px;
			color: white;
			height: 28px;
			line-height: 28px;
		}
		#menu li:hover {
			background-color: #089de3;
		}
		#menu li {
			line-height: normal;
		}
		#top-bar {
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
		}
		#detail-lower {
			clear: both;
			padding: 0 20px;
			margin-bottom: 60px;
		}
		.add-recipe #detail-lower {
			padding-top: 15px;
		}
		#detail-ingredients {
			padding: 15px 0 5px 0;
		}
		#detail-new-ingredient-input {
			display: none;
			height: 26px;
			line-height: 26px;
			font-size: 16px;
			box-sizing: border-box;
			border-bottom: solid 1px #78bcff;
		}
		.ingredient, .converted, .original {
			margin-bottom: 4px;
			font-size: 15px;
			line-height: 20px
		}
		#detail-description {
	    box-sizing: border-box;
	    padding: 10px;
			margin-top: 20px;
			border: solid 1px #dadada;
			min-height: 100px;
			font-size: 15px;
			line-height: 18px;
		}
		#detail-tags {
			margin-top: 20px;
			display: flex;
			position: relative;
		}
		#detail-tag-list {
			padding: 0;
			margin: 0;
			margin-right: 3px;
			padding-top: 4px;
			width: 100%;
		}
		#detail-tag-list.editable {
			border: solid 1px gray;
		}
		#detail-tag-icon {
			display: inline-block;
			margin-right: 3px;
		}
		#detail-tag-icon img {
			margin-top: 10px;
		}
		.tag {
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 9px 0px 9px;
	    font-size: 12px;
	    margin-right: 5px;
	    max-width: 120px;
	    color: white;
	    background-color: #808080;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: inline-block;
	    font-weight: 300;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    border-radius: 15px;
		}
		.tag.new-tag {
			cursor: default;
		}
		.tag-name {
			float: left;
		}
		.add-recipe .tag-close, .edit-recipe .tag-close {
			display: block;
		}
		.tag-close {
			display: none;
			background-image: url(/images/x.png);
			background-repeat: no-repeat;
			background-position: center right 2px;
			background-size: 8px 8px;
			width: 12px;
			height: 12px;
			float: right;
			margin-top: 7px;
			margin-left: 3px;
		}
		.tag-close:hover {
			background-image: url(/images/x-hover.png);
			background-size: 12px 12px;
			background-position: center right 0px;
		}
		.tag-color-picker {
	    background-image: url(/images/color-picker.png);
	    background-repeat: no-repeat;
	    background-position: center right 2px;
	    background-size: 12px 12px;
	    width: 18px;
	    height: 12px;
	    float: right;
	    margin-top: 7px;
	    margin-left: 3px;
		}
		.tag-color-picker:hover {
	    background-image: url(/images/color-picker-hover.png);
		}
		.edit-recipe #detail-add-tag-button, .add-recipe #detail-add-tag-button {
			display: block;
		}
		#detail-add-tag-button {
			display: none;
			margin-top: 7px;
			width: 25px;
			height: 21px;
			background: url(images/tag-sprite.png) 0 0;
			background-repeat: no-repeat;
			padding-right: 5px;
		}
		.edit-recipe #detail-add-tag-button:hover, .add-recipe #detail-add-tag-button:hover {
			background: url(images/tag-sprite.png) 0 -22px;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		#detail-add-tag-button img {
			width: 21px;
		}
		#print-logo-text {
			display: none;
		}
		#detail-options {
			background: url(images/plus-sprite.png) 0 -24px;
			background-repeat: no-repeat;
			width: 26px;
			height: 25px;
			cursor: pointer;
			float: left;
		}
		#detail-options:hover {
			background: url(images/plus-sprite.png) 0 1px;
			background-repeat: no-repeat;
		}
		#detail-options.active {
			background: url(images/plus-sprite.png) 0 1px;
			background-repeat: no-repeat;
		}
		.edit-recipe #detail-options {
			display: none;
		}
		.add-recipe #detail-options {
			display: none;
		}
		#edit-messaging {
	    float: left;
	    display: none;
	    color: #898e95;
	    margin-top: 7px;
	    font-size: 13px;
		}
		.edit-recipe #edit-messaging {
			display: inline-block;
		}
		#detail-new-tag-input {
			display: none;
	    height: 26px;
	    line-height: 26px;
	    font-size: 12px;
	    box-sizing: border-box;
	    font-weight: 300;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
		}
		#new-tag {
			width: 60px;
		}
		.tag-category {
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 9px 0px 9px;
	    font-size: 12px;
	    color: white;
	    background-color: #AA62E3;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: inline-block;
	    font-weight: 300;
	    overflow: hidden;
	    white-space: nowrap;
	    border-radius: 15px;
	    margin-top: 4px;
	    margin-left: 8px;
		}
		#tag-list {
			clear: both;
			border-top: solid 1px #dadada;;
			padding-top: 12px;
		}
		.tag-list-name, .tag-color-selection {
	    height: 26px;
	    line-height: 26px;
	    padding: 0px 9px 0px 9px;
	    font-size: 12px;
	    margin-bottom: 10px;
	    color: white;
	    background-color: #AA62E3;
	    box-sizing: border-box;
	    cursor: pointer;
	    display: table;
	    font-weight: 300;
	    overflow: hidden;
	    white-space: nowrap;
	    border-radius: 15px;
		}
		#tag-colors {
			display: none;
			width: 325px;
			margin: 0;
	    padding: 15px;
		}
		#tag-colors.box li.tag-colors-title {
			font-weight: bold;
			margin-bottom: 15px;
			padding-left: 0;
		}
		#tag-colors .tag-color-selection {
			display: inline-block;
			margin-right: 4px;
		}
		[contenteditable=true]:empty:before{
		  content: attr(placeholder);
		  display: block; /* For Firefox */
		  cursor: text;
		  color: darkgrey;
		  padding-left: 3px;
		  font-size: 15px;
		}
		#detail-name, #detail-name[contenteditable=true]:empty:before{
			height: 34px;
			line-height: 34px;
			font-size: 24px;
		}
		#detail-name[contenteditable=true]:empty:before{
			border: solid 1px #e6e6e6;
		}
		#list-panel.singular {
			max-width: 900px;
			width: 75%;
			margin: 15px auto 0 auto;
		}
		#list-panel.singular + .detail-recipe.singular {
			display: block;
		}
		#list-panel.singular + .detail-recipe {
			display: none;
		}
		.detail-recipe.singular {
			max-width: 700px;
			width: 100%;
			margin: 15px auto 0 auto;
		}
		#detail-options-dropdown {
			position: absolute;
			display: none;
			left: 21px;
			width: 141px;
			top: 35px;
			z-index: 2;
		}
		#detail-options-dropdown li#spacer {
			border-bottom: solid 1px #dadada;
			height: 5px;
		}
		#detail-options-dropdown li#spacer:hover {
			background-color: white;
		}
		#favorite span#favorite-icon {
	    background: url(images/favorite-icon.png) 0 0px;
	    background-repeat: no-repeat;
	    display: inline-block;
	    width: 18px;
	    height: 16px;
	    vertical-align: middle;
	    margin-top: 2px;
	    margin-left: 6px;
	    margin-bottom: 6px;
		}
		#favorite.favorited span#favorite-icon {
	    background: url(images/favorite-icon.png) 0 -16px;
	    background-repeat: no-repeat;
		}
		#favorite.favorited:hover span#favorite-icon {
	    background: url(images/favorite-icon.png) 0 0px;
	    background-repeat: no-repeat;
		}		#delete-recipe {
			margin-top: 9px;
		}
		.init-hide {
			display: none;
		}
		.edit-recipe #detail-ingredients {
			border-bottom: transparent;
		}
		.ingredient.ui-sortable-handle:before {
			width: 40px;
			height: 40px;
			content: url('images/drag-icon.png');
			position: relative;
			top: 3px;
		}
		.ingredient input {
			border-bottom: 0;
			border-top: 0;
    	border-left: 0;
    	border-right: 0;
	    padding-left: 3px;
	    margin-left: 5px;
	    height: 22px;
	    width: calc(100% - 29px);
	    font-size: 14px;
	    font-family: 'Source Sans Pro', sans-serif;
		}
		.edit-recipe .ingredient {
			margin-bottom: 0;
		}
		#detail-top {
			border-bottom: solid 1px #dadada;
			overflow: auto;
		}
		#detail-icons {
			float: right;
			margin-bottom: 4px;
		}
		#detail-icons li {
			display: inline-block;
			margin-right: 10px;
		}
		#detail-icons li div.icons {
			width: 26px;
			height: 25px;
			display: inline-block;
    	background-repeat: no-repeat;
		}
		#detail-icons span.icon-label, #servings {
			margin-right: 5px;
			font-size: 14px;
			position: relative;
			top: -7px;
			color: #888888;
		}

		#cal-icon.editable, #clock-icon.editable, #portion-icon.editable {
			cursor: pointer;
		}
		#cal-dropdown, #clock-dropdown, #portion-dropdown-1, #portion-dropdown-2 {
			display: none;
			padding: 10px 10px;
			position: absolute;
			top: 36px;
		}
		#cal-dropdown {
			right: 30px;
		}
		#clock-dropdown {
			right: 127px;
		}
		#portion-dropdown-1 {
			left: 164px;
			top: 72px;
		}
		#portion-dropdown-2 {
			right: 187px;
		}
		#cal-dropdown p, #clock-dropdown p, #portion-dropdown-1 p, #portion-dropdown-2 p {
			margin: 0 0 5px 0;
		}
		#portion-dropdown-1 p#yield {
			font-size: 14px;
			font-style: italic;
			margin-bottom: 15px;
		}
		#cal-dropdown input, #clock-dropdown input, #portion-dropdown-1 input, #portion-dropdown-2 input {
			width: 90px;
			border: solid 1px #1aafd2;
			height: 20px;
			padding-left: 4px;
		}
		#portion-dropdown-1 input {
			width: 40px;
			margin-right: 5px;
		}
		#adjust-portions {
			border: 0;
			background-color: #bbbbbb;
			color: white;
			padding: 5px;
		}
		#adjust-portions:hover {
			background-color: #1aafd2;
		}
		.edit-recipe #detail-options-dropdown {
			display: none !important;
		}

		#portion-icon {
			background: url(images/portion-sprite.png) 0 0 no-repeat;
		}
		#clock-icon {
			background: url(images/clock-sprite.png) 0 0 no-repeat;
		}
		#cal-icon {
			background: url(images/cal-sprite.png) 0 0 no-repeat;
		} 
		#detail-icons li div.icons#portion-icon.editable {
			background: url(images/portion-sprite.png) 0 -24px no-repeat;
		}
		#detail-icons li div.icons#clock-icon.editable {
			background: url(images/clock-sprite.png) 0 -24px no-repeat;
		}
		#detail-icons li div.icons#cal-icon.editable {
			background: url(images/cal-sprite.png) 0 -24px no-repeat;
		}

		.converted {
			color: #1AAFD0;
		}
		.converted-text {
			color: #a4a3a3;
			font-size: 11px;
			font-style: italic;
			margin-bottom: 5px;
		}
		#converted-message {
			border: solid 1px #08e41a;
			margin-top: 15px;
			background-color: #d7fbda;
			padding: 5px;
			font-size: 14px;
			text-align: center;
			color: #2b251a;
		}
		#portion-validation {
			display: none;
			margin-top: 5px;
			font-style: italic;
			color: red;
			font-size: 14px;
		}
		#converted-message-text {
			display: inline-block;
		}
		#converted-message-close {
			float: right;
			margin-top: 3px;
			cursor: pointer;
		}
		html:not(.add-recipe) .from-new {
			/* border: solid 5px red !important;*/
		}
		html:not(.add-recipe) .from-new #detail-top, html:not(.add-recipe) .from-new #detail-lower {
			visibility: hidden;
		}



		.box {
			background-color: white;
    	padding: 10px 0;
    	border-radius: 3px 3px 3px 3px;
	    border: 1px solid #B9BCC0;
	    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	    z-index: 1;
		}
		.box li:not(.tag-color-selection) {
			padding: 3px 15px;
			cursor: pointer;
			height: 20px;
			line-height: 20px;
		}
		.box li:not(.tag-colors-title):hover, #portion.main-active {
			background-color: #008dff;
    	color: white;
		}
		#success-box, #error-box {
			display: none;
	    position: fixed;
	    box-sizing: border-box;
	    z-index: 100;
	    background-color: white;
	    max-width: 500px;
	    bottom: 10px;
	    right: 10px;
	    padding: 20px;
	    border-top: solid 5px #23d82f;
	    line-height: 20px;
		}
		#success-box.temp-height {
			height: 66px;
			overflow-y: hidden;
		}
		#success-box.temp-height #success-box-inner {
			height: 20px;
			overflow-y: hidden;
			overflow-x: hidden;
		}
		#success-box-inner {
			overflow: auto;
			display: flex;
			justify-content: space-around;
		}
		#success-message {
			display: block;
		}
		#success-message-recipe {
			font-weight: bold;
		}
		#error-box {
			display: none;
			border-top: solid 5px red;
		}
		#error-box #error-box-inner {
			display: flex;
		}
		#error-box .close {
			align-self: flex-start;
		}
		#error-messages {
			align-self: flex-start;
		}
		.error-message {
			margin-bottom: 4px;
		}
		.error-message.no-wrap {
			white-space: nowrap;
    	overflow: hidden;
		}
		@media screen and (max-width: 1464px) {
/*	    #list-panel {
	    	margin-left: 20px;
	    }
	    .detail-recipe {
	    	margin-right: 20px;
	    }*/
		}
		@media screen and (max-width: 1265px) {
			.edit-recipe .detail-recipe:not(.singular) #detail-icons {
				clear: both;
			}
			.edit-recipe .detail-recipe:not(.singular) #edit-messaging {
				margin-bottom: 7px;
			}
		}

 	</style>
</head>
<body>

	<div id="left-nav">
		<div id="logo">
			<a href="/">
				<img src="images/logo-white-circle.png">
				<span id="logo-text">Recipe Saver</span>
			</a>
		</div>
		<div id="add-recipe" class="button">Add New Recipe</div>

		<ul id="menu">
			<li id='get-all-recipes'>All Recipes</li>
			<li id="get-recipes-by-tags">Tags</li>
			<li id="get-favorite-recipes">Favorites</li>
			<li id="get-uncategorized-recipes">Uncategorized</li>
		</ul>
	</div>


	<!-- Header -->
	<% include ./partials/header %>


	<div id="profile">

		<!-- List Panel -->
		<div id="list-panel" class="singular">

			<div id="heading-and-sort">
				<h1 id="list-panel-heading">All Recipes</h1>
				<div id="sort">
					Sort by: <span id="sort-selection"></span>
					<img src="images/down-arrow.png">
				</div>

				<div class="box" id="sort-options">
					<ul>
						<li class="sort-option" id="sort-newest">Newest</li>
						<li class="sort-option" id="sort-oldest">Oldest</li>
						<li class="sort-option" id="sort-a-z">A - Z</li>
						<li class="sort-option" id="sort-z-a">Z - A</li>
						<li class="sort-option" id="sort-color">Color</li>
					</ul>
				</div>
			</div>

			<div id="list-panel-inner">
				<ul class="recipe-list">
					<% for (var i = 0; i < recipes.length; i++) { %>
						<li class="recipe-list-entry" data-id="<%= recipes[i]._id %>">
							<span class="recipe-list-entry-left">
								<a><%= recipes[i].recipeName %></a>
							</span>
							<span class="recipe-list-entry-date">
								<a><%= new Date(recipes[i].creationDate).getTime() %></a>
							</span>
						</li>
					<% } %>
				</ul>
			</div>
			
		</div>

		<!-- Recipe Detail Panel -->
		<div class="detail-recipe">


			<div id="detail-top">
				<div id="print-logo-text">RecipeSaver</div>
				<div id="detail-options"></div>
				<div id="edit-messaging">Click "Save" To Finish</div>
				<ul id="detail-options-dropdown" class="box">
					<li id="edit-recipe">Edit Recipe</li>
					<li id="portion">Adjust Portions</li>
					<li id="full-screen">Full Screen</li>
					<li id="favorite"><span>Favorite</span><span id="favorite-icon"></span></li>
					<li>Share</li>
					<li id="print">Print</li>
					<li id="spacer"></li>
					<li id="delete-recipe">Delete Recipe</li>
				</ul>
				<div id="portion-dropdown-1" class="box">
					<p id="yield">Original recipe yields <span id="original-yield">4</span> servings</p>
					<p>Change portion amount to:</p>
					<input type="number" val="" id="portion-num" min="1" max="8">
					<button id="adjust-portions">Adjust Portions</button>
					<div id="portion-validation">Amount must be between 1 and 8</div>
				</div>

				<!-- Info Icons -->
				<ul id="detail-icons">
					<li>
						<span class="icon-label">Serves</span><span id="servings">4</span>
						<div class="icons" id="portion-icon"></div>
						<div id="portion-dropdown-2" class="box">
							<p>Servings:</p>
							<input type="number" val="" id="serving-input" min="1" max="8">
						</div>
					</li>
					<li>
						<span class="icon-label" id="mins">1h 23m</span>
						<div class="icons" id="clock-icon"></div>
						<div id="clock-dropdown" class="box">
							<p>Ready In:</p>
							<input type="number" id="mins-input" val="" placeholder="Minutes">
						</div>
					</li>
					<li>
						<span id="cals" class="icon-label">550cals</span>
						<div class="icons" id="cal-icon"></div>
						<div id="cal-dropdown" class="box">
							<p>Calories:</p>
							<input type="number" id="cals-input" val="">
						</div>
					</li>
				</ul>

			</div>

			<div id="detail-lower">
				<!-- Recipe Name -->
				<h2 id="detail-name" contenteditable="false" placeholder="Recipe Name"></h2>

				<!-- Recipe Ingredients -->
				<ul id="detail-ingredients" class="init-hide">
					<!-- Recipe Ingredients will be added here -->
				</ul>
				<!-- New Ingredient Input -->
				<div id="detail-new-ingredient-input" contenteditable="true" placeholder="New Ingredient (Press Enter to Add)"></div>

				<!-- Recipe Description -->
				<div contenteditable="false" id="detail-description" class="init-hide" placeholder="Recipe description">
				</div>

				<div id="detail-link-container" class="init-hide">
					<a id="detail-link" href="#" target="_blank"></a>
					<input type="test" id="detail-link-editable" placeholder="URL">
				</div>

				<!-- Recipe Tags -->
				<div id="detail-tags">
					<!-- Tag Icon -->
					<div id="detail-add-tag-button"></div>
					<!-- Tag List -->
					<ul id="detail-tag-list">

						<!-- Recipe Tags will be prepended here -->

						<!-- New Tag Input -->
						<li id="detail-new-tag-input">
							<input type="text" id="new-tag" autofocus>
						</li>
					</ul>
				</div>

				<!-- Recipe ID -->
				<p id="detail-id" style="color: blue; display: none;"></p>

				<!-- Recipe Date -->
				<p id="detail-date" style="color: blue; display: none;"></p>

				<!-- Recipe Save Button -->
				<div id="save-recipe" class="button">Save</div>
				<!-- Recipe Cancel Button -->
				<div id="cancel-recipe" class="button">Cancel</div>
				<div id="undo-recipe" class="button">Undo Changes</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>


  <div id="success-box" class="box">
  	<div id="success-box-inner">
	  	<div id="success-message">
	  		<span id="success-message-recipe"></span> <span id="sucess-message-text"></span>
	  	</div>
		  <svg class="close" viewBox="0 0 32 32">
		  	<polygon points="24.485,27.314 27.314,24.485 18.828,16 27.314,7.515 24.485,4.686 16,13.172 7.515,4.686 4.686,7.515 13.172,16 4.686,24.485 7.515,27.314 16,18.828 "></polygon>
		  </svg>
	  </div>
  </div>

  <div id="error-box" class="box">
  	<div id="error-box-inner">
	  	<div id="error-messages"></div>
		  <svg class="close" viewBox="0 0 32 32">
		  	<polygon points="24.485,27.314 27.314,24.485 18.828,16 27.314,7.515 24.485,4.686 16,13.172 7.515,4.686 4.686,7.515 13.172,16 4.686,24.485 7.515,27.314 16,18.828 "></polygon>
		  </svg>
	  </div>
  </div>


	<ul id="tag-colors" class="box">
		<li class="tag-colors-title">Choose Tag Color</li>
		<li class="tag-color-selection" data-color="#ff0000" style="background-color: #ff0000;">red</li>
		<li class="tag-color-selection" data-color="#9e5f01" style="background-color: #9e5f01;">brown</li>
		<li class="tag-color-selection" data-color="#ffa500" style="background-color: #ffa500;">orange</li>
		<li class="tag-color-selection" data-color="#dec688" style="background-color: #dec688;">gold</li>
		<li class="tag-color-selection" data-color="#22da00" style="background-color: #22da00;">green</li>
		<li class="tag-color-selection" data-color="#079212" style="background-color: #079212;">forest</li>
		<li class="tag-color-selection" data-color="#6d0873" style="background-color: #6d0873;">eggplant</li>
		<li class="tag-color-selection" data-color="#9522ff" style="background-color: #9522ff;">purple</li>
		<li class="tag-color-selection" data-color="#ff05d6" style="background-color: #ff05d6;">pink</li>
		<li class="tag-color-selection" data-color="#00c5ff" style="background-color: #00c5ff;">ocean</li>
		<li class="tag-color-selection" data-color="#2c77ff" style="background-color: #2c77ff;">blue</li>
		<li class="tag-color-selection" data-color="#000000" style="background-color: #000000;">black</li>
	</ul>


	<script src="moment.js"></script>
	<script src="main.js"></script>
	<script src="edit.js"></script>
	<script src="convert.js"></script>
	<script src="jquery-ui.min.js"></script>
	<script src="fraction.js"></script>
	<script>
		// Mark active header menu
		document.getElementById('recipes').className = 'active-menu';

		// Save global reference to recipes so we can find retrieve them wit search
		window.recipes = <%- JSON.stringify(recipes) %>;
	</script>

</body>
</html>

