<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Recipe Saver | Sign Up</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="/css/universal.css" rel="stylesheet">
	<style>
		html {
			height: 100%;
		}
	</style>
	<!-- Analytics -->
	<% include ./partials/analytics %>
</head>
<body class="reg-login">
	<div class="reg-login-wrapper">

		<div id="reg-login-logo">
			<a class="logo" href="/">
				<img src="/images/home-logo.png">
				<div class="reg-login-logo-text">Recipe Saver</div>
			</a>
		</div>

		<div class="reg-login-form">
			<div class="reg-login-form-header">
				<h1>Create an Account</h1>
			</div>
			<div class="reg-login-form-body">
				<h2>Sign Up via Email</h2>
				<form id="register-form">
					<label>Name:</label>
					<input type="text" name="name" id="name"><br>
					<label>Email:</label>
					<input type="email" name="email" id="emailReg"><br>
					<label>Password:</label>
					<input type="password" name="password" id="password"><br>
					<label>Confirm Password:</label>
					<input type="password" name="passwordConfirm" id="passwordConfirm">
					<div id="register-recaptcha" style="margin-top: 8px;"></div>
					<input type="submit" id="submit" value="Register">
				</form>
				<div id="reg-login-error"></div>
			</div>
		</div>

		<div class="reg-login-outer">
			<ul>
				<li class="first-link"><a href="/">Home</a></li>
				<li><a href="#">Chrome Extension</a></li>
				<li><a href="/blog">Blog</a></li>
				<li class="last-link"><a id="reg-login-support" href="#">Support</a></li>
			</ul>

			<div id="right-pull">
				<div id="right-pull-text">Already have an account?</div>
				<a class="right-pull-cta" href="/login">Log In</a>
			</div>
		</div>
	</div>

	<script src="/js/jquery.min.js"></script>
	<!-- Support Form -->
	<% include ./partials/support-form %>

	<script>
		var $error = $('#reg-login-error');

		function errorMessage(msg) {
			console.log(msg);
			$error.html(msg).show();
		}

		$('#register-form').submit(function(e) {
			e.preventDefault();

			// Hide any lingering error message
			$error.html('').hide();

			var data = {
				reqType: 'register',
				name: $('#name').val().trim(),
				email: $('#emailReg').val().trim().toLowerCase(),
				password: $('#password').val(),
				gRecaptchaResponse: grecaptcha.getResponse(1),
			};

			// Validate form
			if (!$('#name').val().length || !$('#emailReg').val().length || !$('#password').val().length || !$('#passwordConfirm').val().length) {
				return errorMessage('Please complete all fields');
			} 
			if ($('#password').val() !== $('#passwordConfirm').val()) {
				return errorMessage('Password and Password Confirm must match');
			}



			$.ajax({
				type: 'POST',
			  url: '/register',
			  contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			  data: data,
			  success: function(data) {
			  	console.log('registered!');
			  	window.location.href = '/account';
			  },
			  error: function(jqXHR) {
			  	grecaptcha.reset(window.registerRecaptchaId);
			  	if (jqXHR.status === 401) {
			  		errorMessage('That email address is already registered');
			  	} else if (jqXHR.status === 403) {
			  		errorMessage('Captcha vaildation failed');
			  	} else if (jqXHR.status === 404) {
			  		errorMessage('Oops! Something went terribly wrong - please email contact@recipesaver.net for help');
			  	}
			  }
			});
		});
	</script>
</body>
</html>


