<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Recipe Saver | Password Reset</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="/css/universal.css" rel="stylesheet">
	<style>
		html {
			height: 100%;
		}
	</style>
	<!-- Analytics -->
	<% include ./partials/analytics %>
</head>
<body class="reg-login">
	<div class="reg-login-wrapper">

		<div id="reg-login-logo">
			<a class="logo" href="/">
				<img src="/images/home-logo.png">
				<div class="reg-login-logo-text">Recipe Saver</div>
			</a>
		</div>

		<div class="reg-login-form">
			<div class="reg-login-form-header">
				<h1>Account Recovery</h1>
			</div>
			<div class="reg-login-form-body">
				<h3>Password reset for <%= email %></h3>
				<form id="reset-form">
					<label>New Password:</label>
					<input type="password" name="password" id="password"><br>
					<label>Confirm New Password:</label>
					<input type="password" name="passwordConfirm" id="passwordConfirm"><br>
					<input type="submit" id="submit" value="Reset Password">
				</form>
				<div id="reg-login-error"></div>
			</div>
		</div>

		<div class="reg-login-outer">
			<ul>
				<li class="first-link"><a href="/">Home</a></li>
				<li><a href="https://chrome.google.com/webstore/detail/recipe-saver/opemcijjekbnjccecheklfbflnkoacai" target="_blank">Chrome Extension</a></li>
				<li><a href="/blog">Blog</a></li>
				<li class="last-link"><a id="reg-login-support" href="#">Support</a></li>
			</ul>

			<div id="right-pull">
				<div id="right-pull-text">Already have an account?</div>
				<a class="right-pull-cta" href="/login">Log In</a>
			</div>
		</div>
	</div>

	<script src="/js/jquery.min.js"></script>
	<!-- Support Form -->
	<% include ./partials/support-form %>

	<script>
		var $error = $('#reg-login-error');

		function errorMessage(msg) {
			console.log(msg);
			$error.html(msg).show();
		}

		$('#reset-form').submit(function(e) {
			e.preventDefault();

			// Hide any lingering error message
			$error.html('').hide();

			var data = {
				password: $('#password').val(),
			};

			// Validate form
			if ($('#password').val() !== $('#passwordConfirm').val()) {
				return errorMessage('Password and Password Confirm must match');
			}

			$.ajax({
				type: 'POST',
			  url: '/reset/' + '<%= token %>',
			  contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
			  data: data,
			  success: function(data) {
			  	console.log('Password reset!');
			  	window.location.href = '/login/from-reset';
			  },
			  error: function(jqXHR) {
			  	if (jqXHR.status === 401) {
			  		window.location.href = '/reset/' + '<%= token %>';
			  	}
			  }
			});
		});
	</script>
</body>
</html>


