html, body {
	height: 100%;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}
textarea, input { outline: none; }
a:hover {
	color: #0093ff;
}

#wrapper {
	min-height: calc(100vh - 425px);
}

article {
	box-sizing: border-box;
	background-color: white;
	margin: 0 auto 0 auto;
  position: relative;
}
article p {
	line-height: 29px;
	margin-bottom: 20px;
}
#article-top {
	background-color: #089de3;
	color: white;
	padding-top: 50px;
	padding-bottom: 150px;
}
#article-top-inner, #article-main {
	width: 800px;
	margin: 0 auto;
}
.date {
	color: white;
	font-size: 20px;
}
.title {
	font-size: 36px;
	margin: 20px 0;
}
#categories-and-share {
	display: flex;
	justify-content: space-between;
}
li.static {
	margin-right: 20px;
}
.categories li, .share li {
	display: inline-block;
}
.categories li:not(.static), .share li:not(.static) {
	margin-right: 15px;
}
.categories li:not(.static):hover a, .share li:not(.static):hover a {
	background-color: #23d82f;
}
.categories li a, .share li a {
	display: inline-block;
	text-decoration: none;
	background-color: #066b9a;
	padding: 5px 10px;
	color: white;
}
.share li.static {
	vertical-align: super;
}
.share li:not(.static) a {
	background-color: #066b9a;
	padding: 6px 7px 1px 7px;
}
.share li:not(.static) path {
	fill: white;
}

.image {
	width: 100%;
}
#article-main {
	margin-top: -115px;
}
#article-main-inner {
	width: 610px;
	margin: 40px auto 110px auto;
}
#author-information {
	border-top: solid 1px #dadada;
	border-bottom: solid 1px #dadada;
	padding: 15px 0;
	overflow: auto;
}
#author-icon {
	float: left;
	margin-right: 30px;
}
.author-title-text {
	float: left;
	margin-top: 14px;
}
.author {
	color: #1aafd0;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}
.author, .date {
	display: block;
}
.article-text {
	margin-top: 40px;
	clear: both;
	font-family: 'Roboto Slab', serif;
	line-height: 28px;
	font-size: 28px;
	font-size: 16px;
}
#article-text ul {
	padding-left: 31px;
	margin-bottom: 16px;
	list-style-type: disc;
}
.emphasize {
  color: #066b9a;
  font-weight: bold;
  font-size: 26px;
  font-family: 'Source Sans Pro';
  margin: 20px 0;
}
article p.double-break {
	margin-bottom: 40px;
}
article p.top-margin {
	margin-top: 20px;
}
.blog-bold {
	font-weight: bold;
}
.flow-image {
	width: 100%;
}
#disqus_thread {
	width: 610px;
	margin: 0 auto;
}


