@media (max-width: 979px) {
	body {
		min-width: 0;
	}
	#home-header {
		min-width: 0;
	}
	#nav {
		display: none;
	}
	#home-cover {
		background: url(/images/spices-bg-optimized.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
	}
	.home-wrapper {
		width: 100%;
	}
	.hero-home-wrapper {
		padding: 0;
	}
	#hero-left {
		float: none;
		width: 100%;
		overflow: hidden;
		box-sizing: border-box;
    padding: 0 30px;
	}
	#save-any {
		margin-top: 125px;
		margin-bottom: 80px;
		font-size: 35px;
		width: 240px;
	}
	#hero-left p {
		width: 100%;
		text-align: center;
	}
	#hero-right {
		display: none;
	}
	#home-banner {
		display: none;
	}
	#home-laptop-section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	#laptop-left {
		float: none;
		width: 100%;
		padding-left: 0;
	}
	#laptop-left img {
		width: 100%;
	}
	#laptop-right {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
	}
	#laptop-right h2 {
		font-size: 24px;
		margin-top: 32px;
	}
	#laptop-right p {
		width: 100%;
		line-height: 22px;
	}
	#value-props {
    padding: 40px 0;
	}
	#value-props h3, .blue-heading {
		font-size: 24px;
	}
	#value-props p#value-prop-subtitle {
		width: 100%;
		font-size: 18px;
		margin-bottom: 30px;
	}
	#value-prop-icons {
		display: block;
	}
	#value-prop-icons h4 {
		margin-bottom: 10px;
	}
	#value-prop-icons p.value-prop-summary {
		text-align: center;
		margin-bottom: 30px;
		width: 100%
	}
	#hero-strip-top .hero-strip-box {
		width: 100%;
	}
	.hero-strip-box {
    width: 100%;
    font-size: 18px;
    padding: 20px 0;
	}
		#blog-bio {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		#blog-bio-left {
			width: 100%;
			float: none;
			margin-left: 0;
		}
		.blog-bio-title {
			margin-bottom: 15px;
		}
		#blog-post-image {
			width: 100%;
		}
		.gray-box-link {
			margin-top: 5px;
			line-height: 22px;
		}
		.gray-box {
			padding-bottom: 6px;
		}
		#blog-bio-right {
			float: none;
			width: 100%;
			margin-top: 30px;
		}
		#bio, #bio:hover {
			height: auto;
			background: transparent;
		}
		#bio-left {
			float: none;
			width: 100%;
		}
		#bio-thumb {
			float: none;
			width: 100%;
			border: 0;
			border-radius: 0;
		}
		#bio-bottom.gray-box-link {
			float: none;
			margin-top: 0;
		}
		#bio-link {
			display: none;
		}

		footer {
			display: none;
		}
}
