@media (max-width: 979px) {
	body {
		min-width: 0;
	}
	#home-header {
		min-width: 0;
	}
	#nav {
		display: none;
	}
	#home-cover {
		background: url(/images/spices-bg-optimized.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
	}
	.home-wrapper {
		width: 100%;
	}
	.hero-home-wrapper {
		padding: 0;
	}
	#hero-left {
		float: none;
		width: 100%;
		overflow: hidden;
		box-sizing: border-box;
    padding: 0 30px;
	}
	#save-any {
		margin-top: 125px;
		margin-bottom: 80px;
		font-size: 35px;
		width: 240px;
	}
	#hero-left p {
		width: 100%;
		text-align: center;
	}
	#hero-right {
		display: none;
	}
	#home-banner {
		display: none;
	}
	#home-laptop-section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	#laptop-left {
		float: none;
		width: 100%;
		padding-left: 0;
	}
	#laptop-left img {
		width: 100%;
	}
	#laptop-right {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
	}
	#laptop-right h2 {
		font-size: 24px;
		margin-top: 32px;
	}
	#laptop-right p {
		width: 100%;
		line-height: 22px;
	}
	#value-props {
    padding: 40px 30px;
	}
	#value-props h3, .blue-heading {
		font-size: 24px;
	}
}
