/* --- CSS Reset --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --- Header --- */
#top-bar {
	overflow: hidden;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
}
#nav {
	border-bottom: 1px solid #B9BCC0;
	height: 49px;
}
#nav li {
	line-height: 46px;
	display: inline-block;
	margin-left: 15px;
}
#nav li a {
	text-transform: uppercase;
	color: #898e95;
	text-decoration: none;
	font-size: 14px;
}
#nav li a:hover {
	color: #1AAFD0;
}
#logout, #account {
	float: right;
	margin-right: 15px;
}
#nav li#logout {
	margin-left: 0;
	margin-right: 50px;
}
#nav li#recipes {
	margin-left: 50px;
}
#nav li.active-menu {
	border-bottom: solid 3px #23d82f;
}
#nav li.active-menu a {
	color: black;
}
#search-row, #search-suggestions {
	display: none;
}


/* --- Wrapper --- */
#wrapper {
	min-height: calc(100vh - 495px);
}


/* --- Support Modal --- */
#support-modal, #support-overlay, #support-sucess {
	display: none;
}
#support-modal {
  position: fixed;
  width: 575px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  z-index: 6;
  background-color: white;
	border-radius: 3px 3px 3px 3px;
  border: 1px solid #B9BCC0;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
#support-modal h3 {
	font-size: 28px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 25px;
}
.support-modal-info {
	margin-bottom: 25px;
}
#support-form label {
	display: block;
	color: #898e95;
	margin-bottom: 7px;
}
#support-form input[type="text"], #support-form input[type="email"], #support-form textarea {
	width: 100%;
	border: solid 1px #54d654;
	font-size: 16px;
	padding-left: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
#support-form input[type="text"]:hover, #support-form input[type="email"]:hover, #support-form textarea:hover {
	border: solid 1px #089de3;
}
#support-form input[type="text"], #support-form input[type="email"] {
	height: 34px;
}
#support-form textarea {
	font-family: Arial;
	padding-top: 10px;
	min-height: 170px;
}
#support-recaptcha {
  display: inline-block;
  float: left;
}
#support-submit {
	border: 0;
	font-size: 17px;
	float: right;
}
#support-recaptcha-error {
	display: none;
	color: red;
	clear: both;
	padding-top: 10px;
}
#support-overlay {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}


/* --- Close Button --- */
.close {
	width: 20px;
	fill: #b9b8b8;
	cursor: pointer;
	margin-left: 12px;
	align-self: flex-start;
}
.close:hover {
	fill: #23d82f;
}


/* --- Buttons --- */
.button {
	width: 167px;
	text-align: center;
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	cursor: pointer;
  background: #089de3;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.button:hover {
  background: #23d82f;
}


/* --- Footer --- */
footer {
	margin-top: 55px;
	background-color: #066b9a;
  color: white;
}
#footer-inner {
	width: 800px;
	margin: 0 auto;
	padding: 30px 0;
	overflow: auto;
}
#footer-inner-left {
	width: 50%;
	float: left;
}
#footer-inner-right {
	width: 50%;
	float: right;
}
.logo {
  font-family: 'Cabin', sans-serif;
}
.logo img {
	display: block;
	float: left;
}
.logo-text {
  float: left;
  margin-top: 6px;
  margin-left: 8px;
  font-size: 25px;
  letter-spacing: 1px;
  display: inline-block;
}
.tagline {
  display: inline-block;
  float: left;
  clear: both;
  margin-top: 11px;
  font-weight: inherit
}
#footer-links {
	clear: both;
	margin-top: 25px;
	float: left;
}
#footer-links li {
	margin-bottom: 7px;
}
#footer-links li a {
	color: #dedede;
	font-weight: bold;
	text-decoration: none;
}
#footer-links li a:hover {
	text-decoration: underline;
}
.twitter-follow {
	overflow: auto;
	clear: both;
	margin-top: 7px;
}
.follow-us, .like-us, .contact {
	float: right;
	text-align: right;
	clear: both;
}
.follow-us, .like-us {
  font-size: 19px;
  margin-bottom: 6px;
  font-weight: bold;
}
#twitter-widget-0, .fb_iframe_widget {
	float: right;
	clear: both;
	margin-bottom: 38px;
}
#copyright {
	background-color: #23d82f;
	color: white;
	font-size: 15px;
}
#copyright-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	width: 800px;
	margin: 0 auto;
}