/* --- CSS Reset --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --- Header --- */
#top-bar {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px;
}
#nav {
	border-bottom: 1px solid #B9BCC0;
	height: 49px;
}
#nav li {
	line-height: 46px;
	display: inline-block;
	margin-left: 15px;
	vertical-align: top;
}
#nav li a {
	text-transform: uppercase;
	color: #898e95;
	text-decoration: none;
	font-size: 14px;
}
#nav li a:hover {
	color: #1AAFD0;
}
#logout, #account, #login {
	float: right;
	margin-right: 15px;
}
#login {
	margin-right: 30px;
}
#nav li#logout {
	margin-left: 0;
	margin-right: 50px;
}
#nav li#recipes {
	margin-left: 25px;
}
#nav li#login {
	margin-left: 15px;
}
#nav li.active-menu {
	border-bottom: solid 3px #23d82f;
}
#nav li.active-menu a {
	color: black;
}
#nav li#search-row {
	display: none;
  line-height: normal;
  margin-left: 40px;
  margin-top: 8px;
}
#nav li#search-row li {
	height: auto;
	line-height: 20px;
	display: block;
	margin-left: 0;
}
#nav li#nav-logo {
	margin-left: 50px;
}
#nav li#nav-logo a {
	display: block;
	color: black;
	font-family: 'Cabin', sans-serif;
	text-transform: none;
	font-size: 22px;
	background-image: url(/images/logo-outline.png);
	background-repeat: no-repeat;
	background-position-y: 50%;
	padding-left: 44px;
}
#search-row, #search-suggestions {
	display: none;
}
#search-icon {
	content: url(/images/search-icon.png);
	position: relative;
	top: 4px;
}
#search-row {
	display: inline-block;
	margin-left: 45px;
	height: 43px;
	position: relative;
}
#search-form {
	margin: 0 auto;
	text-align: center;
	border: solid 1px #089de3;
  border-radius: 20px;
  width: 400px;
}
#search-form-input {
	width: 350px;
  height: 30px;
  padding-left: 5px;
  border: 0;
  background: transparent;
}
#search-form-input:focus {
	border: 0;
	outline: none;
}
#search-suggestions {
	display: none;
  width: 350px;
  margin: 0 auto;
  position: absolute;
  background-color: white;
  z-index: 5;
  right: 24px;
  top: 34px;
}
.suggestion {
	cursor: pointer;
	padding-left: 8px;
}
.sug-bold {
	font-weight: bold;
}
@media screen and (max-width: 1250px) {
	#nav li#recipes {
		margin-left: 15px;
	}
	#nav li#logout {
		margin-right: 15px;
	}
}
@media screen and (max-width: 1175px) {
	#search-form {
		width: 257px;
	}
	#search-form-input {
		width: 209px;
	}
}
@media screen and (max-width: 1032px) {
	#nav li#search-row {
		display: none !important;
	}
}
@media screen and (max-width: 730px) {
	#nav li a {
		font-size: 12px;
	}
}
@media screen and (max-width: 675px) {
	#nav li#recipes, #nav li {
		margin-left: 6px;
	}
	#nav li#logout {
		margin-right: 6px;
	}
}


/* --- Wrapper --- */
#wrapper {
	min-height: calc(100vh - 500px);
}


/* --- Support Modal --- */
#support-modal, #support-overlay, #support-sucess {
	display: none;
}
#support-modal {
  position: fixed;
  width: 575px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  z-index: 6;
  background-color: white;
	border-radius: 3px 3px 3px 3px;
  border: 1px solid #B9BCC0;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  max-height: calc(100vh - 203px);
  overflow-y: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
#support-modal h3 {
	font-size: 28px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 25px;
}
.support-modal-info {
	margin-bottom: 25px;
	line-height: 18px;
}
#support-form label {
	display: block;
	color: #898e95;
	margin-bottom: 7px;
}
#support-form input[type="text"], #support-form input[type="email"], #support-form textarea {
	width: 100%;
	border: solid 1px #CDCFD2;
	font-size: 16px;
	padding-left: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border-radius: 2px;
}
#support-form input[type="text"]:hover, #support-form input[type="email"]:hover, #support-form textarea:hover {
	border: solid 1px #089de3;
}
#support-form input[type="text"], #support-form input[type="email"] {
	height: 34px;
}
#support-form textarea {
	font-family: Arial;
	padding-top: 10px;
	min-height: 170px;
}
#support-recaptcha {
  display: inline-block;
  float: left;
}
#support-submit {
	border: 0;
	font-size: 17px;
	float: right;
}
#support-recaptcha-error {
	display: none;
	color: red;
	clear: both;
	padding-top: 10px;
}
#support-overlay {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}


/* --- Close Button --- */
.close {
	width: 20px;
	fill: #b9b8b8;
	cursor: pointer;
	margin-left: 12px;
	align-self: flex-start;
}
.close:hover {
	fill: #23d82f;
}


/* --- Buttons --- */
.button {
	width: 167px;
	text-align: center;
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	cursor: pointer;
  background-color: #089de3;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.button:hover {
  background-color: #23d82f;
}


/* --- FOOTER --- */
footer {
	margin-top: 55px;
	background-color: #444444;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}
#footer-inner, #copyright-inner {
	width: 800px;
}
#footer-inner {
	margin: 0 auto;
	padding: 32px 0;
	overflow: auto;
}
#footer-left {
	width: 362px;
	float: left;
	margin-top: 13px;
}
#footer-logo {
	width: 194px;
	float: left;
	margin-bottom: 77px;
	color: white;
}
#footer-logo img {
	float: left;
}
.logo-text {
  float: right;
  margin-top: 6px;
  margin-left: 8px;
  font-size: 25px;
  letter-spacing: 1px;
  display: inline-block;
}
.tagline {
  display: inline-block;
  float: right;
  clear: both;
  font-weight: inherit
}
#footer-social {
	clear: both;
}
#footer-social-heading {
	font-size: 18px;
	margin-bottom: 12px;
}
.footer-social-icon {
  color: white;
  text-decoration: none;
}
.footer-social-icon:hover {
	color: #23d82f;
}
.footer-social-icon img {
	vertical-align: middle;
}
.footer-social-label {
  margin-right: 20px;
  display: inline-block;
  margin-left: 8px;
}
#footer-right {
	float: right;
}
#footer-right-cta-title {
	font-size: 19px;
	margin-top: 12px;
}
#footer-right-cta-button {
	text-decoration: none;
	color: white;
	border: solid 1px #23d82f;
	display: inline-block;
	margin-top: 12px;
	padding: 10px;
}
#footer-right-cta-button:hover {
	background-color: #23d82f;
	color: #444444;
}
#footer-links-section {
	display: flex;
	justify-content: space-between;
	margin-top: 62px;
}
.footer-links li {
	margin-bottom: 16px;
}
.footer-links a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.footer-links a:hover {
	color: #23d82f;
}

#footer-bottom {
	margin-top: 50px;
}
#copyright {
	clear: both;
	background-color: #26282e;
	color: white;
	font-size: 14px;
}
#copyright-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  margin: 0 auto;
  font-size: 16px;
}


/* --- REGISTER / LOGIN --- */
.reg-login {
	margin: 0;
	padding: 0;
	width: 100%;
	border-top: solid 5px #1685ba;
	background: #1685ba;
	background: -moz-linear-gradient(45deg,  #23d82f 0%, #1685ba 100%);
	background: -webkit-linear-gradient(45deg,  #23d82f 0%,#1685ba 100%);
	background: linear-gradient(45deg,  #23d82f 0%,#1685ba 100%);
}
/*.reg-login-wrapper {
	position: absolute;
  width: 585px;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Source Sans Pro', sans-serif;
}*/
.reg-login-wrapper {
  width: 585px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
#reg-login-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 68px;
	font-family: 'Cabin', Arial;
	font-size: 23px;
	box-sizing: border-box;
	width: 193px;
	margin: 0 auto 20px auto
}
.logo {
  vertical-align: middle;
  width: 192px;
  display: block;
  text-decoration: none;
}
.logo img {
	vertical-align: middle;
}
.reg-login-logo-text {
	display: inline-block;
	margin-left: 6px;
	color: white;
	letter-spacing: 1px;
}
.reg-login-form {
	box-sizing: border-box;
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #B9BCC0;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
  padding: 30px;
}
.reg-login-form h1 {
  text-align: center;
  color: #066b9a;
  font-size: 36px;
  margin-bottom: 30px;
}
.reg-login-form h2 {
	text-align: center;
	color: #066b9a;
	font-size: 27px;
	margin-bottom: 30px;
}
.reg-login-form label {
	display: block;
	margin-top: 8px;
	margin-bottom: 4px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.reg-login-form input {
	height: 40px;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 2px;
	border: solid 1px #CDCFD2;
	padding-left: 10px;
	font-size: 17px;
	box-sizing: border-box;
}
.reg-login-form input:hover {
	border: solid 1px #089de3;
} 
.reg-login-form input[type="submit"] {
	box-sizing: border-box;
	padding-left: 0;
	margin-bottom: 0;
  text-align: center;
  border-radius: 4px;
  height: 52px;
  font-size: 20px;
  cursor: pointer;
  background-color: #089de3;
  color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: .02em;
	margin-top: 15px;
	border: 0;
}
.reg-login-form input[type="submit"]:hover {
	background-color: #23d82f;
	border: 0;
}
.reg-login-outer {
	color: white;
	margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.reg-login-outer li {
	display: inline-block;
	margin-left: 6px;
}
.reg-login-outer li.first-link {
	margin-left: 0;
}
.reg-login-outer li:after {
	content: '\2022';
	margin-left: 10px;
}
.reg-login-outer li.last-link:after {
	content: '';
	margin-left: 0px;
}
.reg-login-outer a {
	color: white;
	text-decoration: none;
}
.reg-login-outer a:hover {
	text-decoration: underline;
}
.right-pull-cta {
	border: solid 1px white;
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px 8px 10px;
	float: right;
}
.reg-login-outer a.right-pull-cta:hover {
	text-decoration: none;
	border: solid 1px #1685ba;
	color: #1685ba;
}
#reg-options li {
	width: 260px;
	height: 54px;
	margin: 0 auto 25px auto;
}
#reg-options li a {
	display: block;
	height: 100%;
	color: white;
	text-decoration: none;
	line-height: 54px;
	padding-left: 70px;
}
#twitter-reg {
	background: url(/images/twitter-reg-sprite.png) no-repeat;
}
#facebook-reg {
	background: url(/images/facebook-reg-sprite.png) no-repeat;
}
#gmail-reg {
	background: url(/images/gmail-reg-sprite.png) no-repeat;
}
#email-reg {
	background: url(/images/email-reg-sprite.png) no-repeat;
}
#reg-options li:hover {
	background-position: 0px -54px;
}
#reg-login-separator {
	border-top: solid 1px #23d82f;
  font-size: 24px;
  margin: 50px auto 20px auto;
  text-align: center;
  width: 400px;
}
#reg-login-separator-or {
	display: inline-block;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
	top: -15px;
	background-color: white;
	color: #a1a1a1;
}
#forgot-password {
  color: #979797;
  margin-top: 12px;
  display: inline-block;
  float: right;
  text-decoration: none;
}
#forgot-password:hover {
	color: black;
	text-decoration: underline;
}
#reg-login-error {
	display: none;
	margin-top: 12px;
	color: red;
}
.message {
	text-align: center;
	margin-bottom: 20px;
	padding: 7px;
	border: solid 1px #089de3;
	color: #089de3;
	line-height: 20px;
}